In [1]:
import pandas as pd
import numpy as np

In [2]:
loc= 'C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Dataset\\Inventory data\\'

data1= pd.ExcelFile(loc+ 'Inventory - Beef - 2020,21,22.xlsx')

In [3]:
data1.sheet_names

['702921030', '702324378']

In [4]:
# to read just one sheet to dataframe:
df1 = pd.read_excel(data1, sheet_name="702921030")

In [5]:
df1.shape

(10714, 21)

In [6]:
df2 = pd.read_excel(data1, sheet_name="702324378")

In [7]:
df2.shape

(12004, 21)

In [8]:
10714+12004

22718

In [9]:
#Beef

df3 = pd.concat(pd.read_excel(loc + 'Inventory - Beef - 2020,21,22.xlsx', sheet_name=None), ignore_index=True)

In [10]:
df3.shape

(22718, 21)

In [11]:
# df3['Location'].unique()

In [12]:
# df3['Item'].unique()

In [13]:
# df3.columns

In [14]:
df3= df3[df3['State']== 'CA']

In [15]:

df_beef = df3[df3['Location']== 'S SAN FRANCISCO BUS CTR']

In [16]:
df_beef.shape

(1087, 21)

In [17]:
# Fillets 
df_fillet = pd.concat(pd.read_excel(loc + 'Inventory - Fillets - 2020,21,22.xlsx', sheet_name=None), ignore_index=True)

In [18]:
# df_fillet.shape

In [19]:
# df_fillet['Location'].unique()

In [20]:
# df_fillet['Item'].unique()

In [21]:
df_fillet= df_fillet[df_fillet['State']=='CA']

In [22]:
#Droping 'S SAN FRANCISCO BUS CTR' from the location

loctin= ['HAYWARD', 'FREMONT', 'LAKEWOOD', 'RICHMOND CA']

df_fillet2= df_fillet[df_fillet['Location'].isin(loctin)]

In [23]:
# data_filt2 = data_filt1[(data_filt1['Location'].isin(loc))]

In [24]:
# data_filt2.shape

In [25]:
# Drumstick 
df_drumstick = pd.concat(pd.read_excel(loc + 'Inventory - Drumstick- 2020,21,22.xlsx', sheet_name=None), ignore_index=True)

In [26]:
# df_drumstick['Location'].unique()

In [27]:
# df_drumstick['Item'].unique()

In [28]:
# df_drumstick.shape

In [29]:
df_drumstick = df_drumstick[df_drumstick['State']=='CA']

In [30]:
# df_drumstick['Location'].unique()

In [31]:
#Droping 'S SAN FRANCISCO BUS CTR' from the location

loctin= ['HAYWARD', 'FREMONT', 'LAKEWOOD', 'RICHMOND CA', 'S SAN FRANCISCO BUS CTR']

df_drumstick2 = df_drumstick[df_drumstick['Location'].isin(loctin)]

In [32]:
df_drumstick2.shape

(10097, 21)

In [33]:
# df_drumstick2['Item'].unique()

In [35]:
# chicken 
df_chicken = pd.concat(pd.read_excel(loc + 'Inventory - Organice Chicken - 2020,21,22.xlsx', sheet_name=None), ignore_index=True)

In [36]:
# df_chicken.columns

In [37]:
# df_chicken['Location'].unique()

In [38]:
# df_chicken['Item'].unique()

In [39]:
df_chicken['Item']= 'Chicken XXXXX-O'

In [40]:
df_chicken.shape

(458722, 21)

In [41]:
df_chicken = df_chicken[df_chicken['State']=='CA']

In [42]:
# df_chicken['Location'].unique()

In [43]:
#Droping 'S SAN FRANCISCO BUS CTR' from the location

loctin= ['HAYWARD', 'FREMONT', 'LAKEWOOD', 'RICHMOND CA']

df_chicken2 = df_chicken[df_chicken['Location'].isin(loctin)]

In [44]:
df_chicken2.columns

Index(['Date', 'Country', 'State', 'Region', 'District', 'Location',
       'Major Department', 'Department', 'Category', 'Group', 'Item Category',
       'Item', 'OH Quantity', 'OH Amount', 'On Order Quantity',
       'On Order Amount', 'In Transit Quantity', 'In Transit Amount',
       'NSI Quantity', 'NSI Amount', 'Item ID'],
      dtype='object')

In [45]:
df_chicken2 = df_chicken2[['Date', 'Location', 'Item', 'OH Quantity', 'OH Amount', 'On Order Quantity', 'On Order Amount', 
            'In Transit Quantity', 'In Transit Amount', 'NSI Quantity', 'NSI Amount']]

In [46]:
# df_chicken2['Item'].unique()

In [47]:
df_drumstick2 = df_drumstick2[['Date', 'Location', 'Item', 'OH Quantity', 'OH Amount', 'On Order Quantity', 'On Order Amount', 
            'In Transit Quantity', 'In Transit Amount', 'NSI Quantity', 'NSI Amount']]

In [48]:
df_fillet2 =  df_fillet2[['Date', 'Location', 'Item', 'OH Quantity', 'OH Amount', 'On Order Quantity', 'On Order Amount', 
            'In Transit Quantity', 'In Transit Amount', 'NSI Quantity', 'NSI Amount']]

In [71]:
df_beef =  df_beef[['Date', 'Location', 'Item', 'OH Quantity', 'OH Amount', 'On Order Quantity', 'On Order Amount', 
            'In Transit Quantity', 'In Transit Amount', 'NSI Quantity', 'NSI Amount']]

In [72]:
from functools import reduce

#define list of DataFrames
dfs = [df_chicken2,df_drumstick2, df_fillet2, df_beef]

#merge all DataFrames into one
final_df = reduce(lambda  left,right: pd.merge(left,right,on=['Date', 'Location', 'Item', 'OH Quantity', 'OH Amount', 'On Order Quantity', 'On Order Amount', 
            'In Transit Quantity', 'In Transit Amount', 'NSI Quantity', 'NSI Amount'],
                                            how='outer'), dfs)

C:\Users\Ramshankar\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
C:\Users\Ramshankar\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:1205: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  warnings.warn(
C:\Users\Ramshankar\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
C:\Users\Ramshankar\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:1205: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  warnings.warn(
C:\Users\Ramshankar\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)

In [73]:
final_df.shape

(15945, 11)

In [74]:
# for i in final_df['Location'].unique():
#     try_df = final_df[final_df["Location"]==i]
#     print(i, ':-', try_df['Item'].unique() )

In [53]:
final_df.isnull().sum()

Date                   0
Location               0
Item                   0
OH Quantity            0
OH Amount              0
On Order Quantity      0
On Order Amount        0
In Transit Quantity    0
In Transit Amount      0
NSI Quantity           0
NSI Amount             0
dtype: int64

In [75]:
final_df1= final_df[final_df['Date'] <= '2020-08-09']

In [78]:
final_df1.shape

(3283, 11)

In [79]:
final_df1[final_df1['Item']== 'BEEF OOOO - GT']

,Date,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount
14858,2020-01-01,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT,440.0,1095.60,0.0,0.0,0.0,0.0,0.0,0.0
14859,2020-01-02,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT,340.0,846.60,0.0,0.0,0.0,0.0,0.0,0.0
14860,2020-01-03,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT,234.0,582.66,0.0,0.0,0.0,0.0,0.0,0.0
14861,2020-01-04,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT,174.0,433.26,0.0,0.0,0.0,0.0,0.0,0.0
14862,2020-01-05,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT,174.0,433.26,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
15064,2020-08-05,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT,1048.0,2609.52,0.0,0.0,0.0,0.0,0.0,0.0
15065,2020-08-06,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT,981.0,2442.69,0.0,0.0,0.0,0.0,0.0,0.0
15066,2020-08-07,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT,900.0,2241.00,0.0,0.0,0.0,0.0,0.0,0.0
15067,2020-08-08,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT,870.0,2166.30,0.0,0.0,0.0,0.0,0.0,0.0
15068,2020-08-09,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT,870.0,2166.30,0.0,0.0,0.0,0.0,0.0,0.0

In [80]:
final_df2 = final_df1[final_df1['OH Quantity'] >= 0]

In [81]:
final_df2.shape

(1780, 11)

In [83]:
# final_df2.to_excel('combined_inventory_data20.xlsx', index= False)

## OR

In [54]:
# data= [df_chicken2, df_drumstick2,df_fillet2, df_beef ]

# df_conct = pd.concat(data, axis=0, ignore_index=True)

In [55]:
# for i in df_conct['Location'].unique():
#     try_df = final_df[final_df["Location"]==i]
#     print(i, ':-', try_df['Item'].unique() )

RICHMOND CA :- ['Chicken XXXXX-O' 'DRUMSTICKS NNNN' 'FILLET QQQQ']
HAYWARD :- ['Chicken XXXXX-O' 'DRUMSTICKS NNNN' 'FILLET QQQQ']
LAKEWOOD :- ['Chicken XXXXX-O' 'DRUMSTICKS NNNN' 'FILLET QQQQ']
FREMONT :- ['Chicken XXXXX-O' 'DRUMSTICKS NNNN' 'FILLET QQQQ']
S SAN FRANCISCO BUS CTR :- ['DRUMSTICKS NNNN' 'BEEF OOOO - GT']

In [56]:
# df_conct.shape

(15945, 11)

In [57]:
# df_conct.isnull().sum()

Date                   0
Location               0
Item                   0
OH Quantity            0
OH Amount              0
On Order Quantity      0
On Order Amount        0
In Transit Quantity    0
In Transit Amount      0
NSI Quantity           0
NSI Amount             0
dtype: int64

In [64]:
df_conct1= df_conct[df_conct['Date'] <= '2020-08-09']

In [70]:
df_conct1[df_conct1['Item']== 'DRUMSTICKS NNNN']

,Date,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount
1074,2022-05-13,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,38.0,37.62,0.0,0.00,0.0,0.0,0.0,0.0
1078,2022-05-14,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,38.0,37.62,0.0,0.00,0.0,0.0,0.0,0.0
1080,2022-05-15,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,38.0,37.62,0.0,0.00,0.0,0.0,0.0,0.0
1083,2022-05-16,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,38.0,37.62,0.0,0.00,0.0,0.0,0.0,0.0
1084,2022-05-17,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,38.0,37.62,0.0,0.00,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
11136,2022-12-09,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,17.0,21.93,49.0,63.21,0.0,0.0,0.0,0.0
11138,2022-12-08,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,34.0,43.86,98.0,126.42,0.0,0.0,0.0,0.0
11141,2022-12-20,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,10.0,12.90,147.0,189.63,0.0,0.0,0.0,0.0
11146,2022-12-28,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,10.0,9.90,0.0,0.00,0.0,0.0,0.0,0.0
11149,2022-12-05,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,129.0,166.41,0.0,0.00,0.0,0.0,0.0,0.0

In [66]:
df_conct1= df_conct[df_conct['OH Quantity'] >= 0]

In [67]:
# df_conct1['OH Quantity']

0        164.0
1         26.0
2         56.0
3         31.0
4        120.0
         ...
15930      3.0
15931      3.0
15932      3.0
15933      3.0
15934      3.0
Name: OH Quantity, Length: 7709, dtype: float64

In [68]:
df_conct1.to_excel('combined_inventory_data20.xlsx', index= False)

In [ ]:
data= [df3, df_fillet,df_drumstick, df_chicken ]

data_final= pd.concat(data, axis=0, ignore_index=True)

In [ ]:
data_final.shape

In [ ]:
data_filt1 = data_final[data_final['State']=='CA' ]

In [ ]:
loc= ['HAYWARD', 'FREMONT', 'LAKEWOOD', 'RICHMOND CA', 'S SAN FRANCISCO BUS CTR']

data_filt2 = data_filt1[(data_filt1['Location'].isin(loc))]

In [ ]:
data_filt2

In [ ]:
data_filt2['Location'].unique()

In [ ]:
data_filt2['Item'].unique()

In [ ]:
for i in data_filt2['Location'].unique():
#     df= data_filt2[data_filt2['Location']
    print(i, ":-", list(data_filt2['Item'].unique()))