In [1]:
import pandas as pd
import numpy as np

In [2]:
df_inventry= pd.read_excel('C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Dataset\\Inventory data\\combined_inventory_data20.xlsx')

In [3]:
df_inventry['Item'] = df_inventry['Item'].replace('Chicken XXXXX-O', 'CHICKEN XXXXX - O')

In [4]:
df_inventry['Location'].unique()

array(['RICHMOND CA', 'HAYWARD', 'LAKEWOOD', 'FREMONT',
       'S SAN FRANCISCO BUS CTR'], dtype=object)

In [5]:
df_inventry['Item'].unique()

array(['CHICKEN XXXXX - O', 'DRUMSTICKS NNNN', 'FILLET QQQQ',
       'BEEF OOOO - GT'], dtype=object)

In [7]:
df_inventry.columns

Index(['Date', 'Location', 'Item', 'OH Quantity', 'OH Amount',
       'On Order Quantity', 'On Order Amount', 'In Transit Quantity',
       'In Transit Amount', 'NSI Quantity', 'NSI Amount'],
      dtype='object')

In [8]:
data = df_inventry[(df_inventry['Location']=='FREMONT') & (df_inventry['Item']=='CHICKEN XXXXX - O')]

In [9]:
data.sort_values(by= 'Date')

,Date,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount
14,2020-01-01,FREMONT,CHICKEN XXXXX - O,13,64.87,0,0.00,46,229.54,0,0
19,2020-01-02,FREMONT,CHICKEN XXXXX - O,29,144.71,0,0.00,0,0.00,0,0
20,2020-01-03,FREMONT,CHICKEN XXXXX - O,7,34.93,135,673.65,0,0.00,0,0
35,2020-01-04,FREMONT,CHICKEN XXXXX - O,7,34.93,0,0.00,137,683.63,0,0
40,2020-01-05,FREMONT,CHICKEN XXXXX - O,85,424.15,0,0.00,0,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
687,2020-07-30,FREMONT,CHICKEN XXXXX - O,224,1117.76,0,0.00,0,0.00,0,0
688,2020-08-01,FREMONT,CHICKEN XXXXX - O,16,79.84,0,0.00,219,1092.81,0,0
689,2020-08-02,FREMONT,CHICKEN XXXXX - O,209,1042.91,0,0.00,0,0.00,0,0
690,2020-08-07,FREMONT,CHICKEN XXXXX - O,21,104.79,180,898.20,0,0.00,0,0
691,2020-08-09,FREMONT,CHICKEN XXXXX - O,131,653.69,0,0.00,0,0.00,0,0

In [14]:
for i in df_inventry['Location'].unique():
    df= df_inventry[df_inventry['Location']==i]
    for j in df['Item'].unique():
        item_data= df[df["Item"]==j]
        
        item_data.sort_values(by='Date')
        
        loc= 'C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Dataset\\Inventory data\\CSV\\' 
        item_data.to_csv(loc + i+"-"+j+".csv", index= False)

## Reading Gretel file(gz xml file )

In [1]:
import pandas as pd
import os

In [2]:
loc= 'C:\\Users\\Ramshankar\\Downloads\\'
print(os.path.isfile(loc))

False

In [3]:
# df = pd.read_json(loc, lines=True, compression='gzip')
# df.tail()
import gzip
with gzip.open(loc+ 'time-series-dgan-Fremont_Chicken.csv.gz') as f:
    frmt_ck = pd.read_csv(f)

frmt_ck.head()

,Date,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount,example_id
0,2020-01-01,FREMONT,CHICKEN XXXXX - O,141.881561,738.935791,179.258728,986.519348,182.341995,896.311035,0.0,0.0,0
1,2020-01-02,FREMONT,CHICKEN XXXXX - O,91.257202,452.046356,110.984871,786.793091,85.368813,516.650696,0.0,0.0,0
2,2020-01-03,FREMONT,CHICKEN XXXXX - O,63.474609,208.971985,73.007439,498.690186,44.834782,216.906860,0.0,0.0,0
3,2020-01-04,FREMONT,CHICKEN XXXXX - O,47.139912,171.347000,40.667198,344.866333,12.641102,55.312950,0.0,0.0,0
4,2020-01-05,FREMONT,CHICKEN XXXXX - O,38.504013,108.600685,41.204697,205.863678,3.272964,14.895798,0.0,0.0,0

In [4]:
frmt_ck.shape

(50000, 12)

In [5]:
# df= features_train[(features_train['Location']=='FREMONT') & (features_train['Item']=='FILLET QQQQ')]

In [6]:
# df.shape

In [8]:
frmt_ck['Date'].min()

'2020-01-01'

In [9]:
frmt_ck['Date'].max()

'2020-01-10'

In [22]:
# features_train.to_excel('timeseies_gene.xlsx', index=False)

In [23]:
# !pip install faker

Collecting faker
  Downloading Faker-15.3.4-py3-none-any.whl (1.6 MB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\ramshankar\anaconda3\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\ramshankar\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-15.3.4

In [10]:
# from faker import Faker
# fake = Faker()

In [35]:
# import datetime
# start_date = datetime.date(year=2020, month=1, day=1)
# # end_date = datetime.date(year=2015, month=1, day=1)

# date_time= []
# for i in range(750):
#     date_time.append(fake.date_time_between_dates(datetime_start=start_date, datetime_end='now'))

In [11]:
# date_time

In [12]:
# df_date = pd.DataFrame({'Date':np.array(date_time)})
# df_date['Date']=pd.to_datetime(df_date['Date'])

In [13]:
# df_date.sort_values(by='Date')

In [16]:
import numpy as np

In [17]:
 datee = pd.date_range(start='1/1/2020', end='30/11/2022')

In [18]:
df_date = pd.DataFrame({'Date':np.array(datee)})
df_date['Date']=pd.to_datetime(df_date['Date'])

In [19]:
df_date= df_date.sort_values(by='Date')

In [20]:
frmt_ck['Date']=df_date

In [21]:
frmt_ck

,Date,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount,example_id
0,2020-01-01,FREMONT,CHICKEN XXXXX - O,141.881561,738.935791,179.258728,986.519348,182.341995,896.311035,0.0,0.0,0
1,2020-01-02,FREMONT,CHICKEN XXXXX - O,91.257202,452.046356,110.984871,786.793091,85.368813,516.650696,0.0,0.0,0
2,2020-01-03,FREMONT,CHICKEN XXXXX - O,63.474609,208.971985,73.007439,498.690186,44.834782,216.906860,0.0,0.0,0
3,2020-01-04,FREMONT,CHICKEN XXXXX - O,47.139912,171.347000,40.667198,344.866333,12.641102,55.312950,0.0,0.0,0
4,2020-01-05,FREMONT,CHICKEN XXXXX - O,38.504013,108.600685,41.204697,205.863678,3.272964,14.895798,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,NaT,FREMONT,CHICKEN XXXXX - O,58.598801,269.305634,57.048683,261.229187,2.533258,9.056885,0.0,0.0,4999
49996,NaT,FREMONT,CHICKEN XXXXX - O,53.705112,246.169983,56.571381,226.046417,1.498435,6.331045,0.0,0.0,4999
49997,NaT,FREMONT,CHICKEN XXXXX - O,68.844872,355.593658,78.252815,281.757355,1.515949,5.821615,0.0,0.0,4999
49998,NaT,FREMONT,CHICKEN XXXXX - O,84.467033,407.779846,81.660950,327.455994,1.646874,6.673431,0.0,0.0,4999
49999,NaT,FREMONT,CHICKEN XXXXX - O,71.976700,444.137054,96.320755,390.194122,2.310040,7.909273,0.0,0.0,4999

In [22]:
frmt_ck= frmt_ck[frmt_ck['Date'] <= '30/11/2022']

C:\Users\Ramshankar\anaconda3\lib\site-packages\pandas\core\arraylike.py:52: UserWarning: Parsing '30/11/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return self._cmp_method(other, operator.le)

In [24]:
frmt_ck.to_excel('Output\\timeseies_frmt_ck.xlsx', index=False)

In [25]:
# for i in range(50):
#     print(fake.date_between(start_date =start_date, end_date='now'))

### Fremont drumstick

In [26]:
with gzip.open(loc+ 'time-series-dgan-Fremont_drumstick.csv.gz') as f:
    frmt_dumstk = pd.read_csv(f)

frmt_dumstk.head()

,Date,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount,example_id
0,2020-01-01,FREMONT,DRUMSTICKS NNNN,1103.230957,1326.753662,1625.467651,1614.772217,979.896240,962.317200,0.0,0.0,0
1,2020-01-01,FREMONT,DRUMSTICKS NNNN,957.666138,1170.424072,1350.698730,1452.261597,772.858582,782.900269,0.0,0.0,0
2,2020-01-02,FREMONT,DRUMSTICKS NNNN,752.300598,908.310547,870.317444,1389.232056,535.078003,523.913208,0.0,0.0,0
3,2020-01-02,FREMONT,DRUMSTICKS NNNN,561.777527,890.706787,571.849182,1064.687744,290.813232,352.735901,0.0,0.0,0
4,2020-01-03,FREMONT,DRUMSTICKS NNNN,418.709290,505.013428,180.289795,631.473877,117.754807,194.321503,0.0,0.0,0

In [27]:
frmt_dumstk.shape

(50000, 12)

In [28]:
frmt_dumstk['Date'].min()

'2020-01-01'

In [29]:
frmt_dumstk['Date'].max()

'2020-01-05'

In [30]:
frmt_dumstk['Date']=df_date

In [31]:
frmt_dumstk= frmt_dumstk[frmt_dumstk['Date'] <= '30/11/2022']

C:\Users\Ramshankar\anaconda3\lib\site-packages\pandas\core\arraylike.py:52: UserWarning: Parsing '30/11/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return self._cmp_method(other, operator.le)

In [32]:
# frmt_dumstk.to_excel('Output\\timeseies_frmt_dumstk.xlsx', index=False)

### Fremont Fillet

In [33]:
with gzip.open(loc+ 'low-record-fremont_fillet.csv.gz') as f:
    frmt_fillet = pd.read_csv(f)

frmt_fillet.head()

,Date,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount
0,2020-02-17,FREMONT,FILLET QQQQ,44,259.80,0,0.0,0,0.0,0,0
1,2020-01-22,FREMONT,FILLET QQQQ,1,16.89,0,0.0,0,0.0,0,0
2,2020-04-20,FREMONT,FILLET QQQQ,1,314.07,0,0.0,0,0.0,0,0
3,2020-04-20,FREMONT,FILLET QQQQ,2,7.49,0,0.0,0,0.0,0,0
4,2020-04-27,FREMONT,FILLET QQQQ,2,7.49,0,0.0,0,0.0,0,0

In [34]:
frmt_fillet['Date'].min()

'2020-01-06'

In [35]:
frmt_fillet['Date'].max()

'2020-05-26'

In [36]:
frmt_fillet['Date']=df_date

In [37]:
frmt_fillet= frmt_fillet[frmt_fillet['Date'] <= '30/11/2022']

C:\Users\Ramshankar\anaconda3\lib\site-packages\pandas\core\arraylike.py:52: UserWarning: Parsing '30/11/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return self._cmp_method(other, operator.le)

In [38]:
# frmt_fillet.to_excel('Output\\timeseies_frmt_fillet.xlsx', index=False)

### Hayward Chicken

In [39]:
with gzip.open(loc+ 'time-series-dgan-Hayward_chicken.csv.gz') as f:
    Hayward_ckn = pd.read_csv(f)

Hayward_ckn.head()

,Date,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount,example_id
0,2020-01-01,HAYWARD,CHICKEN XXXXX - O,156.593491,715.337585,148.279297,673.288635,167.654785,757.239746,0.0,0.0,0
1,2020-01-02,HAYWARD,CHICKEN XXXXX - O,101.890923,439.927887,98.825348,338.556854,92.266663,327.255829,0.0,0.0,0
2,2020-01-03,HAYWARD,CHICKEN XXXXX - O,40.981194,161.898880,29.812311,94.693512,38.380898,92.575432,0.0,0.0,0
3,2020-01-04,HAYWARD,CHICKEN XXXXX - O,17.308071,26.857952,6.059848,19.245108,9.223862,11.655737,0.0,0.0,0
4,2020-01-05,HAYWARD,CHICKEN XXXXX - O,5.796494,7.762445,1.183887,2.303692,1.379270,1.309049,0.0,0.0,0

In [40]:
Hayward_ckn['Date']=df_date

In [41]:
Hayward_ckn= Hayward_ckn[Hayward_ckn['Date'] <= '30/11/2022']

C:\Users\Ramshankar\anaconda3\lib\site-packages\pandas\core\arraylike.py:52: UserWarning: Parsing '30/11/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return self._cmp_method(other, operator.le)

In [42]:
Hayward_ckn.to_excel('Output\\timeseies_Hayward_ckn.xlsx', index=False)

### Hayward Drumstik

In [43]:
with gzip.open(loc+ 'time-series-dgan-Hayward_drumstick.csv.gz') as f:
    Hayward_drum = pd.read_csv(f)

Hayward_drum.head()

,Date,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount,example_id
0,2020-01-01,HAYWARD,DRUMSTICKS NNNN,650.301392,581.812744,779.618835,593.267822,760.651001,436.442596,0.0,0.0,0
1,2020-01-02,HAYWARD,DRUMSTICKS NNNN,484.482330,466.550171,544.038269,329.410004,477.190979,188.849472,0.0,0.0,0
2,2020-01-03,HAYWARD,DRUMSTICKS NNNN,392.678131,303.856537,198.007751,142.099091,169.764313,65.091537,0.0,0.0,0
3,2020-01-04,HAYWARD,DRUMSTICKS NNNN,288.063873,221.498871,99.597595,65.414772,69.663391,22.902037,0.0,0.0,0
4,2020-01-05,HAYWARD,DRUMSTICKS NNNN,318.989349,283.140411,52.302078,50.881794,27.125429,12.795419,0.0,0.0,0

In [44]:
Hayward_drum['Date']=df_date

In [45]:
Hayward_drum = Hayward_drum[Hayward_drum['Date'] <= '30/11/2022']

C:\Users\Ramshankar\anaconda3\lib\site-packages\pandas\core\arraylike.py:52: UserWarning: Parsing '30/11/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return self._cmp_method(other, operator.le)

In [46]:
Hayward_drum.to_excel('Output\\timeseies_Hayward_drum.xlsx', index=False)

### Hayward Fillet

In [47]:
with gzip.open(loc+ 'low-record-count-Hayward_fillet.csv.gz') as f:
    Hayward_fillet = pd.read_csv(f)

Hayward_fillet.head()

,Date,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount
0,2020-06-01,HAYWARD,FILLET QQQQ,1,33.50,0,0.0,0,0.0,0,0
1,2020-01-06,HAYWARD,FILLET QQQQ,5,23.86,0,0.0,0,0.0,0,0
2,2020-02-10,HAYWARD,FILLET QQQQ,2,23.97,0,0.0,0,0.0,0,0
3,2020-07-20,HAYWARD,FILLET QQQQ,6,50.75,0,0.0,0,0.0,0,0
4,2020-01-06,HAYWARD,FILLET QQQQ,6,35.85,0,0.0,0,0.0,0,0

In [48]:
Hayward_fillet['Date']=df_date

In [49]:
Hayward_fillet = Hayward_fillet[Hayward_fillet['Date'] <= '30/11/2022']

C:\Users\Ramshankar\anaconda3\lib\site-packages\pandas\core\arraylike.py:52: UserWarning: Parsing '30/11/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return self._cmp_method(other, operator.le)

In [50]:
Hayward_fillet.to_excel('Output\\timeseies_Hayward_fillet.xlsx', index=False)

### Lakewood chicken

In [51]:
with gzip.open(loc+ 'time-series-dgan-Lakewood_chickencsv.gz') as f:
    Lakewd_chkn = pd.read_csv(f)

Lakewd_chkn.head()

,Date,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount,example_id
0,2020-01-01,LAKEWOOD,CHICKEN XXXXX - O,62.426819,384.172333,109.090729,596.823608,79.886948,403.166199,0.0,0.0,0
1,2020-01-02,LAKEWOOD,CHICKEN XXXXX - O,50.739594,278.784546,103.552017,507.299927,54.153580,250.741440,0.0,0.0,0
2,2020-01-03,LAKEWOOD,CHICKEN XXXXX - O,58.871498,261.757324,86.444672,431.010254,44.659801,217.967194,0.0,0.0,0
3,2020-01-04,LAKEWOOD,CHICKEN XXXXX - O,50.747463,193.044830,81.561516,342.820312,21.356668,91.420822,0.0,0.0,0
4,2020-01-05,LAKEWOOD,CHICKEN XXXXX - O,38.284889,137.546951,56.283554,294.192657,14.038329,58.191750,0.0,0.0,0

In [52]:
Lakewd_chkn['Date']=df_date

In [53]:
Lakewd_chkn = Lakewd_chkn[Lakewd_chkn['Date'] <= '30/11/2022']

C:\Users\Ramshankar\anaconda3\lib\site-packages\pandas\core\arraylike.py:52: UserWarning: Parsing '30/11/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return self._cmp_method(other, operator.le)

In [54]:
Lakewd_chkn.to_excel('Output\\timeseies_Lakewd_chkn.xlsx', index=False)

### Lakewood Drumstick

In [55]:
with gzip.open(loc+ 'time-series-dgan-Lakewood_drumstick.csv.gz') as f:
    Lakewd_drmst = pd.read_csv(f)

Lakewd_drmst.head()

,Date,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount,example_id
0,2020-01-01,LAKEWOOD,DRUMSTICKS NNNN,837.558777,950.035950,1178.412109,1184.886475,608.283875,571.122498,0.0,0.0,0
1,2020-01-01,LAKEWOOD,DRUMSTICKS NNNN,735.371643,794.908508,870.279968,1085.487305,490.441315,404.755432,0.0,0.0,0
2,2020-01-02,LAKEWOOD,DRUMSTICKS NNNN,686.610840,651.337891,777.559509,727.654846,305.412354,254.505417,0.0,0.0,0
3,2020-01-02,LAKEWOOD,DRUMSTICKS NNNN,537.378906,622.981689,515.342590,512.758057,154.104568,114.705727,0.0,0.0,0
4,2020-01-03,LAKEWOOD,DRUMSTICKS NNNN,311.941345,447.797180,325.715027,336.045227,60.648663,51.482315,0.0,0.0,0

In [56]:
Lakewd_drmst['Date']=df_date

In [57]:
Lakewd_drmst = Lakewd_drmst[Lakewd_drmst['Date'] <= '30/11/2022']

C:\Users\Ramshankar\anaconda3\lib\site-packages\pandas\core\arraylike.py:52: UserWarning: Parsing '30/11/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return self._cmp_method(other, operator.le)

In [58]:
Lakewd_drmst.to_excel('Output\\timeseies_Lakewd_drmst.xlsx', index=False)

### Lakewood Fillet

In [81]:
with gzip.open(loc+ 'low-record-count-Lakewood_fillet.csv.gz') as f:
    Lakewd_fillet = pd.read_csv(f)

Lakewd_fillet.head()

,Date,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount
0,2020-06-15,LAKEWOOD,FILLET QQQQ,4,12.63,0,0.0,0,0.0,0,0
1,2020-06-01,LAKEWOOD,FILLET QQQQ,1,45.16,0,0.0,0,0.0,0,0
2,2020-01-06,LAKEWOOD,FILLET QQQQ,21,307.09,0,0.0,0,0.0,0,0
3,2020-08-03,LAKEWOOD,FILLET QQQQ,16,36.14,0,0.0,0,0.0,0,0
4,2020-01-13,LAKEWOOD,FILLET QQQQ,17,307.09,0,0.0,0,0.0,0,0

In [82]:
Lakewd_fillet['Date']=df_date

In [83]:
Lakewd_fillet = Lakewd_fillet[Lakewd_fillet['Date'] <= '30/11/2022']

C:\Users\Ramshankar\anaconda3\lib\site-packages\pandas\core\arraylike.py:52: UserWarning: Parsing '30/11/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return self._cmp_method(other, operator.le)

In [84]:
Lakewd_fillet.to_excel('Output\\timeseies_Lakewd_fillet.xlsx', index=False)

### Richmond Chicken

In [59]:
with gzip.open(loc+ 'time-series-dgan-Richmond_Chicken.csv.gz') as f:
    Richmd_chkn = pd.read_csv(f)

Richmd_chkn.head()

,Date,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount,example_id
0,2020-01-01,RICHMOND CA,CHICKEN XXXXX - O,108.164513,606.942871,131.197678,668.304382,171.309052,507.278748,0.0,0.0,0
1,2020-01-02,RICHMOND CA,CHICKEN XXXXX - O,109.649872,556.226807,75.066635,412.738373,103.751839,296.556335,0.0,0.0,0
2,2020-01-03,RICHMOND CA,CHICKEN XXXXX - O,106.220406,438.844696,29.317993,145.034454,55.945663,101.511681,0.0,0.0,0
3,2020-01-04,RICHMOND CA,CHICKEN XXXXX - O,86.247002,300.369598,8.029797,75.420166,19.757767,25.098209,0.0,0.0,0
4,2020-01-05,RICHMOND CA,CHICKEN XXXXX - O,93.907120,328.830780,2.301054,36.892139,9.881513,6.186396,0.0,0.0,0

In [60]:
Richmd_chkn['Date']=df_date

In [61]:
Richmd_chkn = Richmd_chkn[Richmd_chkn['Date'] <= '30/11/2022']

C:\Users\Ramshankar\anaconda3\lib\site-packages\pandas\core\arraylike.py:52: UserWarning: Parsing '30/11/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return self._cmp_method(other, operator.le)

In [62]:
Richmd_chkn.to_excel('Output\\timeseies_Richmd_chkn.xlsx', index=False)

### Richmond Drumstick

In [63]:
with gzip.open(loc+ 'time-series-dgan-Richmond_drumstick.csv.gz') as f:
    Richmd_drum = pd.read_csv(f)

Richmd_drum.head()

,Date,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount,example_id
0,2020-01-01,RICHMOND CA,DRUMSTICKS NNNN,2030.698242,2190.430420,1973.664429,1685.422119,1537.759888,939.157043,0.0,0.0,0
1,2020-01-02,RICHMOND CA,DRUMSTICKS NNNN,1591.421631,1819.833374,1112.233765,1217.166992,822.690796,437.542145,0.0,0.0,0
2,2020-01-03,RICHMOND CA,DRUMSTICKS NNNN,922.111755,1527.571167,706.600647,778.553467,340.315521,98.933617,0.0,0.0,0
3,2020-01-04,RICHMOND CA,DRUMSTICKS NNNN,645.933472,804.971924,380.387756,362.017670,76.244492,12.607045,0.0,0.0,0
4,2020-01-14,RICHMOND CA,DRUMSTICKS NNNN,850.249451,867.670837,311.471283,187.906616,30.486931,4.825705,0.0,0.0,0

In [64]:
Richmd_drum['Date']=df_date

In [65]:
Richmd_drum = Richmd_drum[Richmd_drum['Date'] <= '30/11/2022']

C:\Users\Ramshankar\anaconda3\lib\site-packages\pandas\core\arraylike.py:52: UserWarning: Parsing '30/11/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return self._cmp_method(other, operator.le)

In [66]:
Richmd_drum.to_excel('Output\\timeseies_Richmd_drum.xlsx', index=False)

### Richmond fillet

In [67]:
with gzip.open(loc+ 'low-record-count-Richmond_fillet.csv.gz') as f:
    Richmd_fillet = pd.read_csv(f)

Richmd_fillet.head()

,Date,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount
0,2020-05-12,RICHMOND CA,FILLET QQQQ,2,7.49,0,0.0,0,0.0,0,0
1,2020-06-08,RICHMOND CA,FILLET QQQQ,4,7.49,0,0.0,0,0.0,0,0
2,2020-04-20,RICHMOND CA,FILLET QQQQ,2,40.10,0,0.0,0,0.0,0,0
3,2020-01-28,RICHMOND CA,FILLET QQQQ,41,314.58,0,0.0,0,0.0,0,0
4,2020-01-22,RICHMOND CA,FILLET QQQQ,3,28.62,0,0.0,0,0.0,0,0

In [68]:
Richmd_fillet['Date']=df_date

In [69]:
Richmd_fillet = Richmd_fillet[Richmd_fillet['Date'] <= '30/11/2022']

C:\Users\Ramshankar\anaconda3\lib\site-packages\pandas\core\arraylike.py:52: UserWarning: Parsing '30/11/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return self._cmp_method(other, operator.le)

In [71]:
Richmd_fillet.to_excel('Output\\timeseies_Richmd_fillet.xlsx', index=False)

### Sanfrancisco Beef

In [72]:
with gzip.open(loc+ 'time-series-dgan-Sanfrancisco_Beef.csv.gz') as f:
    San_Beef = pd.read_csv(f)

San_Beef.head()

,Date,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount,example_id
0,2020-01-01,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT,976.756287,2306.921143,0.0,0.0,0.0,0.0,0.0,0.0,0
1,2020-01-02,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT,878.714844,1940.421143,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2020-01-03,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT,550.931030,1341.071167,0.0,0.0,0.0,0.0,0.0,0.0,0
3,2020-01-04,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT,415.554901,947.103394,0.0,0.0,0.0,0.0,0.0,0.0,0
4,2020-01-05,S SAN FRANCISCO BUS CTR,BEEF OOOO - GT,300.575195,844.023987,0.0,0.0,0.0,0.0,0.0,0.0,0

In [73]:
San_Beef['Date']=df_date

In [74]:
San_Beef = San_Beef[San_Beef['Date'] <= '30/11/2022']

C:\Users\Ramshankar\anaconda3\lib\site-packages\pandas\core\arraylike.py:52: UserWarning: Parsing '30/11/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return self._cmp_method(other, operator.le)

In [75]:
San_Beef.to_excel('Output\\timeseies_San_Beef.xlsx', index=False)

### San Francisco Drumstick

In [76]:
with gzip.open(loc+ 'time-series-dgan-Sanfranciso_drumstick.csv.gz') as f:
    San_drum = pd.read_csv(f)

San_drum.head()

,Date,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount,example_id
0,2020-01-01,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,272.520081,234.250580,279.449432,239.036133,286.070068,251.546204,0.0,0.0,0
1,2020-01-01,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,151.952469,153.083969,136.001328,107.854362,133.894928,131.390121,0.0,0.0,0
2,2020-01-02,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,46.899086,48.762711,19.246477,15.902808,22.224028,28.433535,0.0,0.0,0
3,2020-01-02,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,6.405241,6.266228,1.108576,0.759686,0.760284,1.481281,0.0,0.0,0
4,2020-01-03,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,1.429529,1.627950,0.054937,0.034762,0.028787,0.101156,0.0,0.0,0

In [77]:
San_drum['Date']=df_date

In [78]:
San_drum = San_drum[San_drum['Date'] <= '30/11/2022']

C:\Users\Ramshankar\anaconda3\lib\site-packages\pandas\core\arraylike.py:52: UserWarning: Parsing '30/11/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return self._cmp_method(other, operator.le)

In [79]:
San_drum.to_excel('Output\\timeseies_San_drum.xlsx', index=False)

### Merging all in one

In [80]:
import pandas as pd
import os
import glob

In [85]:

path = 'C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Code\\Output'
out_files = glob.glob(os.path.join(path, "*.xlsx"))
   
dfs= []


for f in out_files:
    dfs.append(pd.read_excel(f))
df_inventory =pd.concat(dfs, ignore_index=True)

In [88]:
df_inventory.shape

(14910, 12)

In [89]:
df_inventory.to_excel('Combined_Invtry_Genrted_dt_3ys.xlsx', index=False)