In [1]:
import pandas as pd
import numpy as np

In [55]:
#Loading generated data

data1= pd.read_excel('C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Code\\timeseies_gene.xlsx')

In [56]:
data1.shape

(1065, 12)

In [57]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1065 entries, 0 to 1064
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 1065 non-null   datetime64[ns]
 1   Location             1065 non-null   object
 2   Item                 1065 non-null   object
 3   OH Quantity          1065 non-null   float64
 4   OH Amount            1065 non-null   float64
 5   On Order Quantity    1065 non-null   float64
 6   On Order Amount      1065 non-null   float64
 7   In Transit Quantity  1065 non-null   float64
 8   In Transit Amount    1065 non-null   float64
 9   NSI Quantity         1065 non-null   int64
 10  NSI Amount           1065 non-null   int64
 11  example_id           1065 non-null   int64
dtypes: datetime64[ns](1), float64(6), int64(3), object(2)
memory usage: 100.0+ KB

In [66]:
data1.drop(['example_id'], axis=1, inplace= True)

In [67]:
data1.describe()   ##Generated data for 3 years

,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount
count,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000,1065.000000,1065.0,1065.0
mean,82.624931,410.130526,90.988733,469.311862,36.077075,181.223101,0.0,0.0
std,26.823442,147.297236,39.512516,224.099530,56.250213,282.858664,0.0,0.0
min,33.565628,108.600685,34.278095,192.127243,1.062861,4.150276,0.0,0.0
25%,64.242401,307.915466,65.610588,312.507874,2.172210,8.602903,0.0,0.0
50%,76.507408,375.635925,77.500153,363.577057,4.537755,21.367592,0.0,0.0
75%,92.703613,465.987762,98.980087,594.731201,44.500530,229.114761,0.0,0.0
max,175.183334,906.810730,226.377777,1046.500977,227.455643,1189.213501,0.0,0.0

In [26]:
data1= data1[['Date', 'OH Quantity']]

In [27]:
data1.tail()

           Date  OH Quantity
1060 2022-11-26   157.720306
1061 2022-11-27   154.884354
1062 2022-11-28   109.972412
1063 2022-11-29    81.272797
1064 2022-11-30    59.182228

In [34]:
data1= data1[data1['Date']<= '2020-08-09']

In [52]:
data1= data1.iloc[:,1]

In [53]:
data1

0      141.881561
1       91.257202
2       63.474609
3       47.139912
4       38.504013
          ...
217     65.808006
218     64.329597
219     76.280418
220    149.523392
221    102.761070
Name: OH Quantity, Length: 222, dtype: float64

In [68]:
#Loading actual data

data2 = pd.read_csv('C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Dataset\\Inventory data\\CSV\\FREMONT-CHICKEN XXXXX - O.csv')

In [69]:
data2.shape

(157, 11)

In [70]:
data2.describe()     ## 8 months Actual data

,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount
count,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.0,157.0
mean,68.987261,344.246433,64.777070,323.237580,37.573248,187.490510,0.0,0.0
std,86.597506,432.121555,110.149002,549.643518,82.033936,409.349342,0.0,0.0
min,1.000000,4.990000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
25%,5.000000,24.950000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
50%,29.000000,144.710000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
75%,101.000000,503.990000,135.000000,673.650000,0.000000,0.000000,0.0,0.0
max,373.000000,1861.270000,450.000000,2245.500000,469.000000,2340.310000,0.0,0.0

In [48]:
data2= data2[['Date', 'OH Quantity']]

In [49]:
data2= data2.iloc[:,1]

In [51]:
data2

0       13
1       29
2        7
3        7
4       85
      ...
152    224
153     16
154    209
155     21
156    131
Name: OH Quantity, Length: 157, dtype: int64

In [54]:
from scipy.stats import ks_2samp

ks_2samp(data1, data2)

KstestResult(statistic=0.5244735181040914, pvalue=4.248568477553584e-24)