In [2]:
import pandas as pd
import numpy as np

In [3]:
data_inv = pd.read_excel('C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Code\\Combined_Invtry_Genrted_dt_3ys.xlsx', index_col ='Date',parse_dates = True)

In [4]:
data_inv.shape

(14910, 11)

In [5]:
data_inv.head()

,Location,Item,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount,example_id
Date,,,,,,,,,,,
2020-01-01,FREMONT,CHICKEN XXXXX - O,141.881561,738.935791,179.258728,986.519348,182.341995,896.311035,0,0,0.0
2020-01-02,FREMONT,CHICKEN XXXXX - O,91.257202,452.046356,110.984871,786.793091,85.368813,516.650696,0,0,0.0
2020-01-03,FREMONT,CHICKEN XXXXX - O,63.474609,208.971985,73.007439,498.690186,44.834782,216.906860,0,0,0.0
2020-01-04,FREMONT,CHICKEN XXXXX - O,47.139912,171.347000,40.667198,344.866333,12.641102,55.312950,0,0,0.0
2020-01-05,FREMONT,CHICKEN XXXXX - O,38.504013,108.600685,41.204697,205.863678,3.272964,14.895798,0,0,0.0

In [6]:
#converting to weekly 

df_weekly= data_inv.groupby(['Location', 'Item']).resample('W').mean().round(2)

In [7]:
df_weekly

                                                      OH Quantity  OH Amount  \
Location                Item              Date
FREMONT                 CHICKEN XXXXX - O 2020-01-05        76.45     335.98
                                          2020-01-12        83.56     381.45
                                          2020-01-19        56.57     283.66
                                          2020-01-26        90.67     413.30
                                          2020-02-02        83.88     413.47
...                                                           ...        ...
S SAN FRANCISCO BUS CTR DRUMSTICKS NNNN   2022-11-06        41.92      38.75
                                          2022-11-13        38.68      30.73
                                          2022-11-20        76.53      80.60
                                          2022-11-27        68.86      56.33
                                          2022-12-04        19.42      18.88

                                                      On Order Quantity  \
Location                Item              Date
FREMONT                 CHICKEN XXXXX - O 2020-01-05              89.02
                                          2020-01-12              83.23
                                          2020-01-19              57.92
                                          2020-01-26              90.75
                                          2020-02-02              97.21
...                                                                 ...
S SAN FRANCISCO BUS CTR DRUMSTICKS NNNN   2022-11-06              47.40
                                          2022-11-13              26.79
                                          2022-11-20              76.63
                                          2022-11-27              66.40
                                          2022-12-04               5.71

                                                      On Order Amount  \
Location                Item              Date
FREMONT                 CHICKEN XXXXX - O 2020-01-05           564.55
                                          2020-01-12           462.39
                                          2020-01-19           338.43
                                          2020-01-26           504.15
                                          2020-02-02           541.26
...                                                               ...
S SAN FRANCISCO BUS CTR DRUMSTICKS NNNN   2022-11-06            41.20
                                          2022-11-13            23.67
                                          2022-11-20            59.78
                                          2022-11-27            55.13
                                          2022-12-04             5.50

                                                      In Transit Quantity  \
Location                Item              Date
FREMONT                 CHICKEN XXXXX - O 2020-01-05                65.69
                                          2020-01-12                46.67
                                          2020-01-19                 8.55
                                          2020-01-26                41.40
                                          2020-02-02                44.02
...                                                                   ...
S SAN FRANCISCO BUS CTR DRUMSTICKS NNNN   2022-11-06                38.25
                                          2022-11-13                20.34
                                          2022-11-20                64.16
                                          2022-11-27                52.27
                                          2022-12-04                 3.59

                                                      In Transit Amount  \
Location                Item              Date
FREMONT                 CHICKEN XXXXX - O 2020-01-05             340.02
                                          2020-01-12             214.61
                                          2020-01-19              39.56
                                          2020-01-26             191.32
                                          2020-02-02             207.10
...                                                                 ...
S SAN FRANCISCO BUS CTR DRUMSTICKS NNNN   2022-11-06              38.53
                                          2022-11-13              31.14
                                          2022-11-20              59.12
                                          2022-11-27              46.80
                                          2022-12-04               5.64

                                                      NSI Quantity  \
Location                Item              Date
FREMONT                 CHICKEN XXXXX - O 2020-01-05           0.0
                                          2020-01-12           0.0
                                          2020-01-19           0.0
                                          2020-01-26           0.0
                                          2020-02-02           0.0
...                                                            ...
S SAN FRANCISCO BUS CTR DRUMSTICKS NNNN   2022-11-06           0.0
                                          2022-11-13           0.0
                                          2022-11-20           0.0
                                          2022-11-27           0.0
                                          2022-12-04           0.0

                                                      NSI Amount  example_id
Location                Item              Date
FREMONT                 CHICKEN XXXXX - O 2020-01-05         0.0        0.00
                                          2020-01-12         0.0        0.29
                                          2020-01-19         0.0        1.00
                                          2020-01-26         0.0        1.86
                                          2020-02-02         0.0        2.43
...                                                          ...         ...
S SAN FRANCISCO BUS CTR DRUMSTICKS NNNN   2022-11-06         0.0      103.14
                                          2022-11-13         0.0      104.00
                                          2022-11-20         0.0      104.71
                                          2022-11-27         0.0      105.29
                                          2022-12-04         0.0      106.00

[2142 rows x 9 columns]

In [8]:
df_weekly= df_weekly.reset_index()

In [9]:
df_weekly

,Location,Item,Date,OH Quantity,OH Amount,On Order Quantity,On Order Amount,In Transit Quantity,In Transit Amount,NSI Quantity,NSI Amount,example_id
0,FREMONT,CHICKEN XXXXX - O,2020-01-05,76.45,335.98,89.02,564.55,65.69,340.02,0.0,0.0,0.00
1,FREMONT,CHICKEN XXXXX - O,2020-01-12,83.56,381.45,83.23,462.39,46.67,214.61,0.0,0.0,0.29
2,FREMONT,CHICKEN XXXXX - O,2020-01-19,56.57,283.66,57.92,338.43,8.55,39.56,0.0,0.0,1.00
3,FREMONT,CHICKEN XXXXX - O,2020-01-26,90.67,413.30,90.75,504.15,41.40,191.32,0.0,0.0,1.86
4,FREMONT,CHICKEN XXXXX - O,2020-02-02,83.88,413.47,97.21,541.26,44.02,207.10,0.0,0.0,2.43
...,...,...,...,...,...,...,...,...,...,...,...,...
2137,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,2022-11-06,41.92,38.75,47.40,41.20,38.25,38.53,0.0,0.0,103.14
2138,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,2022-11-13,38.68,30.73,26.79,23.67,20.34,31.14,0.0,0.0,104.00
2139,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,2022-11-20,76.53,80.60,76.63,59.78,64.16,59.12,0.0,0.0,104.71
2140,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,2022-11-27,68.86,56.33,66.40,55.13,52.27,46.80,0.0,0.0,105.29
2141,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,2022-12-04,19.42,18.88,5.71,5.50,3.59,5.64,0.0,0.0,106.00

In [10]:
df_weekly.isnull().sum()

Location                 0
Item                     0
Date                     0
OH Quantity              0
OH Amount                0
On Order Quantity        0
On Order Amount          0
In Transit Quantity      0
In Transit Amount        0
NSI Quantity             0
NSI Amount               0
example_id             612
dtype: int64

__On-Order Qty__ - No. of items(Qty) that are just ordered the vendors to supply Costco. 

__In-Transit Qty__ - No. of items(Qty) those are already ordered and shipped by the vendors.

__NSI (Non-Saleable Items)__. Items those are returned by the customers becuase of damages which cannot be repaired and sold agai

In [11]:
df_weekly1 = df_weekly.reindex(columns= ['Date', 'Location', 'Item', 'OH Quantity', 'On Order Quantity', 'In Transit Quantity', 'NSI Quantity'])
df_weekly1

,Date,Location,Item,OH Quantity,On Order Quantity,In Transit Quantity,NSI Quantity
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,76.45,89.02,65.69,0.0
1,2020-01-12,FREMONT,CHICKEN XXXXX - O,83.56,83.23,46.67,0.0
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,56.57,57.92,8.55,0.0
3,2020-01-26,FREMONT,CHICKEN XXXXX - O,90.67,90.75,41.40,0.0
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,83.88,97.21,44.02,0.0
...,...,...,...,...,...,...,...
2137,2022-11-06,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,41.92,47.40,38.25,0.0
2138,2022-11-13,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,38.68,26.79,20.34,0.0
2139,2022-11-20,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,76.53,76.63,64.16,0.0
2140,2022-11-27,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,68.86,66.40,52.27,0.0
2141,2022-12-04,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,19.42,5.71,3.59,0.0

In [12]:
# df_weekly1.to_excel('Weekly_inventry_generated_dt.xlsx', index= False)

In [13]:
df_weekly1.head()

,Date,Location,Item,OH Quantity,On Order Quantity,In Transit Quantity,NSI Quantity
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,76.45,89.02,65.69,0.0
1,2020-01-12,FREMONT,CHICKEN XXXXX - O,83.56,83.23,46.67,0.0
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,56.57,57.92,8.55,0.0
3,2020-01-26,FREMONT,CHICKEN XXXXX - O,90.67,90.75,41.40,0.0
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,83.88,97.21,44.02,0.0

In [14]:
## Aploading Sales Inventory Weekly data

df_sales = pd.read_excel('C:\\Users\\Ramshankar\\OneDrive - iLink Systems Inc\\Documents\\Costco\\Dataset\\Final Output\\Weekly\\SARIMA\\Final\\All_Output_SARIMA_without_bound_weekly.xlsx')

In [15]:
df_sales

,Date,Location,Item,Quantity,Amount,Forecasted_Qty
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,37.023380,184.746667,37.009270
1,2020-01-12,FREMONT,CHICKEN XXXXX - O,41.889780,209.030000,41.883290
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,86.101210,429.645000,86.066259
3,2020-01-26,FREMONT,CHICKEN XXXXX - O,63.834068,318.532000,63.844131
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,45.320977,226.151667,45.337062
...,...,...,...,...,...,...
2122,2022-10-30,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,113.512925,146.431667,115.517915
2123,2022-11-06,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,97.404393,125.651667,118.614955
2124,2022-11-13,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,93.240305,120.280000,132.863461
2125,2022-11-20,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,94.381132,121.751667,87.941498
2126,2022-11-27,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,88.660853,114.372500,82.542661

In [16]:
data_merge = pd.merge(df_weekly1,df_sales, on=['Date', 'Location', 'Item'], how='inner')

In [17]:
data_merge

,Date,Location,Item,OH Quantity,On Order Quantity,In Transit Quantity,NSI Quantity,Quantity,Amount,Forecasted_Qty
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,76.45,89.02,65.69,0.0,37.023380,184.746667,37.009270
1,2020-01-12,FREMONT,CHICKEN XXXXX - O,83.56,83.23,46.67,0.0,41.889780,209.030000,41.883290
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,56.57,57.92,8.55,0.0,86.101210,429.645000,86.066259
3,2020-01-26,FREMONT,CHICKEN XXXXX - O,90.67,90.75,41.40,0.0,63.834068,318.532000,63.844131
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,83.88,97.21,44.02,0.0,45.320977,226.151667,45.337062
...,...,...,...,...,...,...,...,...,...,...
2122,2022-10-30,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,55.94,45.11,45.54,0.0,113.512925,146.431667,115.517915
2123,2022-11-06,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,41.92,47.40,38.25,0.0,97.404393,125.651667,118.614955
2124,2022-11-13,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,38.68,26.79,20.34,0.0,93.240305,120.280000,132.863461
2125,2022-11-20,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,76.53,76.63,64.16,0.0,94.381132,121.751667,87.941498
2126,2022-11-27,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,68.86,66.40,52.27,0.0,88.660853,114.372500,82.542661

In [18]:
data_merge['Quantity'] = data_merge['Quantity'].round(2)
data_merge['Amount'] = data_merge['Amount'].round(2)
data_merge['Forecasted_Qty'] = data_merge['Forecasted_Qty'].round(2)

In [19]:
data_merge.head()

,Date,Location,Item,OH Quantity,On Order Quantity,In Transit Quantity,NSI Quantity,Quantity,Amount,Forecasted_Qty
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,76.45,89.02,65.69,0.0,37.02,184.75,37.01
1,2020-01-12,FREMONT,CHICKEN XXXXX - O,83.56,83.23,46.67,0.0,41.89,209.03,41.88
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,56.57,57.92,8.55,0.0,86.10,429.64,86.07
3,2020-01-26,FREMONT,CHICKEN XXXXX - O,90.67,90.75,41.40,0.0,63.83,318.53,63.84
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,83.88,97.21,44.02,0.0,45.32,226.15,45.34

In [20]:
# Stocks = MAX(0, D(LT) - On hand - InTrn(LT) + PndSales(LT)).

data_merge['Stock_Qty'] = round(data_merge['Forecasted_Qty'] +data_merge['On Order Quantity'] - data_merge['OH Quantity']-data_merge['In Transit Quantity'], 0)

In [21]:
data_merge

,Date,Location,Item,OH Quantity,On Order Quantity,In Transit Quantity,NSI Quantity,Quantity,Amount,Forecasted_Qty,Stock_Qty
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,76.45,89.02,65.69,0.0,37.02,184.75,37.01,-16.0
1,2020-01-12,FREMONT,CHICKEN XXXXX - O,83.56,83.23,46.67,0.0,41.89,209.03,41.88,-5.0
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,56.57,57.92,8.55,0.0,86.10,429.64,86.07,79.0
3,2020-01-26,FREMONT,CHICKEN XXXXX - O,90.67,90.75,41.40,0.0,63.83,318.53,63.84,23.0
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,83.88,97.21,44.02,0.0,45.32,226.15,45.34,15.0
...,...,...,...,...,...,...,...,...,...,...,...
2122,2022-10-30,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,55.94,45.11,45.54,0.0,113.51,146.43,115.52,59.0
2123,2022-11-06,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,41.92,47.40,38.25,0.0,97.40,125.65,118.61,86.0
2124,2022-11-13,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,38.68,26.79,20.34,0.0,93.24,120.28,132.86,101.0
2125,2022-11-20,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,76.53,76.63,64.16,0.0,94.38,121.75,87.94,24.0
2126,2022-11-27,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,68.86,66.40,52.27,0.0,88.66,114.37,82.54,28.0

In [22]:
data_merge1= data_merge[data_merge['Date'] >='2022-04-27']

In [23]:
# data_merge1.to_excel('6 months inventory.xlsx', index= False)

In [24]:
data_merge1['Stock_Qty'].mean()

15.815668202764977

In [25]:
data_merge1['Stock_Qty'].std()

105.22215861628757

In [26]:
conditions = [
    (data_merge1['Stock_Qty'] <= 0),
    (data_merge1['Stock_Qty'] > 0) & (data_merge1['Stock_Qty'] <= 30),
    (data_merge1['Stock_Qty'] > 30)]

values = ['Understock', 'Onhand', 'Overstock']

data_merge1["Stocks"]=np.select(conditions, values)

C:\Users\Ramshankar\AppData\Local\Temp\ipykernel_9768\3122163312.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merge1["Stocks"]=np.select(conditions, values)

In [27]:
data_merge1[data_merge1['Stocks']== 'Overstock']

,Date,Location,Item,OH Quantity,On Order Quantity,In Transit Quantity,NSI Quantity,Quantity,Amount,Forecasted_Qty,Stock_Qty,Stocks
122,2022-05-08,FREMONT,CHICKEN XXXXX - O,65.47,71.47,11.99,0.0,41.94,251.21,54.25,48.0,Overstock
125,2022-05-29,FREMONT,CHICKEN XXXXX - O,72.33,82.90,4.71,0.0,19.68,117.88,43.47,49.0,Overstock
273,2022-05-01,FREMONT,DRUMSTICKS NNNN,562.69,264.51,213.12,0.0,617.66,611.49,713.83,203.0,Overstock
274,2022-05-08,FREMONT,DRUMSTICKS NNNN,500.32,64.90,59.62,0.0,756.25,748.68,681.04,186.0,Overstock
275,2022-05-15,FREMONT,DRUMSTICKS NNNN,551.27,295.26,221.01,0.0,690.42,683.52,697.36,220.0,Overstock
...,...,...,...,...,...,...,...,...,...,...,...,...
2120,2022-10-16,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,1.92,0.15,0.14,0.0,117.85,152.03,130.28,128.0,Overstock
2121,2022-10-23,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,67.27,64.28,49.44,0.0,110.32,142.31,125.05,73.0,Overstock
2122,2022-10-30,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,55.94,45.11,45.54,0.0,113.51,146.43,115.52,59.0,Overstock
2123,2022-11-06,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,41.92,47.40,38.25,0.0,97.40,125.65,118.61,86.0,Overstock
2124,2022-11-13,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,38.68,26.79,20.34,0.0,93.24,120.28,132.86,101.0,Overstock

In [28]:
# Overstock-206
# Understock- 143
# Onhand-153

In [29]:
def stock_flag(row):
    if row['Stocks']== 'Overstock':
        return 1
    elif row['Stocks']== 'Understock':
        return 2
    elif row['Stocks']=='Onhand':
        return 3

In [30]:
data_merge1["Stock_flag"] = data_merge1.apply(stock_flag,axis=1)

C:\Users\Ramshankar\AppData\Local\Temp\ipykernel_9768\86810174.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merge1["Stock_flag"] = data_merge1.apply(stock_flag,axis=1)

In [31]:
data_merge1

,Date,Location,Item,OH Quantity,On Order Quantity,In Transit Quantity,NSI Quantity,Quantity,Amount,Forecasted_Qty,Stock_Qty,Stocks,Stock_flag
121,2022-05-01,FREMONT,CHICKEN XXXXX - O,84.64,99.41,37.29,0.0,55.80,334.24,46.71,24.0,Onhand,3
122,2022-05-08,FREMONT,CHICKEN XXXXX - O,65.47,71.47,11.99,0.0,41.94,251.21,54.25,48.0,Overstock,1
123,2022-05-15,FREMONT,CHICKEN XXXXX - O,81.99,92.42,44.47,0.0,65.50,392.34,49.95,16.0,Onhand,3
124,2022-05-22,FREMONT,CHICKEN XXXXX - O,82.37,98.76,42.11,0.0,27.73,166.11,38.10,12.0,Onhand,3
125,2022-05-29,FREMONT,CHICKEN XXXXX - O,72.33,82.90,4.71,0.0,19.68,117.88,43.47,49.0,Overstock,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2122,2022-10-30,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,55.94,45.11,45.54,0.0,113.51,146.43,115.52,59.0,Overstock,1
2123,2022-11-06,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,41.92,47.40,38.25,0.0,97.40,125.65,118.61,86.0,Overstock,1
2124,2022-11-13,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,38.68,26.79,20.34,0.0,93.24,120.28,132.86,101.0,Overstock,1
2125,2022-11-20,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,76.53,76.63,64.16,0.0,94.38,121.75,87.94,24.0,Onhand,3
2126,2022-11-27,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,68.86,66.40,52.27,0.0,88.66,114.37,82.54,28.0,Onhand,3

In [33]:
data_merge1.to_excel('check_invntry_stock_6months.xlsx', index=False)

### Analysing Sales data

In [184]:
df_sales

,Date,Location,Item,Quantity,Amount,Forecasted_Qty
0,2020-01-05,FREMONT,CHICKEN XXXXX - O,37.023380,184.746667,37.009270
1,2020-01-12,FREMONT,CHICKEN XXXXX - O,41.889780,209.030000,41.883290
2,2020-01-19,FREMONT,CHICKEN XXXXX - O,86.101210,429.645000,86.066259
3,2020-01-26,FREMONT,CHICKEN XXXXX - O,63.834068,318.532000,63.844131
4,2020-02-02,FREMONT,CHICKEN XXXXX - O,45.320977,226.151667,45.337062
...,...,...,...,...,...,...
2122,2022-10-30,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,113.512925,146.431667,115.517915
2123,2022-11-06,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,97.404393,125.651667,118.614955
2124,2022-11-13,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,93.240305,120.280000,132.863461
2125,2022-11-20,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,94.381132,121.751667,87.941498
2126,2022-11-27,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,88.660853,114.372500,82.542661

In [185]:
df_sales1 = df_sales[df_sales['Date'] >='2022-04-27']
df_sales1

,Date,Location,Item,Quantity,Amount,Forecasted_Qty
121,2022-05-01,FREMONT,CHICKEN XXXXX - O,55.800344,334.244000,46.707623
122,2022-05-08,FREMONT,CHICKEN XXXXX - O,41.938234,251.210000,54.251304
123,2022-05-15,FREMONT,CHICKEN XXXXX - O,65.499995,392.345000,49.945361
124,2022-05-22,FREMONT,CHICKEN XXXXX - O,27.730741,166.107143,38.097019
125,2022-05-29,FREMONT,CHICKEN XXXXX - O,19.678630,117.875000,43.473195
...,...,...,...,...,...,...
2122,2022-10-30,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,113.512925,146.431667,115.517915
2123,2022-11-06,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,97.404393,125.651667,118.614955
2124,2022-11-13,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,93.240305,120.280000,132.863461
2125,2022-11-20,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,94.381132,121.751667,87.941498
2126,2022-11-27,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,88.660853,114.372500,82.542661

In [186]:
df_sales1['Quantity'] = df_sales1['Quantity'].round(2)
df_sales1['Amount'] = df_sales1['Amount'].round(2)
df_sales1['Forecasted_Qty'] = df_sales1['Forecasted_Qty'].round(2)

C:\Users\Ramshankar\AppData\Local\Temp\ipykernel_9048\2367656391.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sales1['Quantity'] = df_sales1['Quantity'].round(2)
C:\Users\Ramshankar\AppData\Local\Temp\ipykernel_9048\2367656391.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sales1['Amount'] = df_sales1['Amount'].round(2)
C:\Users\Ramshankar\AppData\Local\Temp\ipykernel_9048\2367656391.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sales1['Forecasted_Qty'] = df_sales1['Forecasted_Qty'].round(2)

In [187]:
df_sales1

,Date,Location,Item,Quantity,Amount,Forecasted_Qty
121,2022-05-01,FREMONT,CHICKEN XXXXX - O,55.80,334.24,46.71
122,2022-05-08,FREMONT,CHICKEN XXXXX - O,41.94,251.21,54.25
123,2022-05-15,FREMONT,CHICKEN XXXXX - O,65.50,392.34,49.95
124,2022-05-22,FREMONT,CHICKEN XXXXX - O,27.73,166.11,38.10
125,2022-05-29,FREMONT,CHICKEN XXXXX - O,19.68,117.88,43.47
...,...,...,...,...,...,...
2122,2022-10-30,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,113.51,146.43,115.52
2123,2022-11-06,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,97.40,125.65,118.61
2124,2022-11-13,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,93.24,120.28,132.86
2125,2022-11-20,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,94.38,121.75,87.94
2126,2022-11-27,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,88.66,114.37,82.54

In [188]:
df_sales1["stock_percentage"] = ((df_sales1["Forecasted_Qty"]-df_sales1["Quantity"])/df_sales1["Quantity"])*100

C:\Users\Ramshankar\AppData\Local\Temp\ipykernel_9048\1940149788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sales1["stock_percentage"] = ((df_sales1["Forecasted_Qty"]-df_sales1["Quantity"])/df_sales1["Quantity"])*100

In [189]:
df_sales1

,Date,Location,Item,Quantity,Amount,Forecasted_Qty,stock_percentage
121,2022-05-01,FREMONT,CHICKEN XXXXX - O,55.80,334.24,46.71,-16.290323
122,2022-05-08,FREMONT,CHICKEN XXXXX - O,41.94,251.21,54.25,29.351454
123,2022-05-15,FREMONT,CHICKEN XXXXX - O,65.50,392.34,49.95,-23.740458
124,2022-05-22,FREMONT,CHICKEN XXXXX - O,27.73,166.11,38.10,37.396322
125,2022-05-29,FREMONT,CHICKEN XXXXX - O,19.68,117.88,43.47,120.884146
...,...,...,...,...,...,...,...
2122,2022-10-30,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,113.51,146.43,115.52,1.770769
2123,2022-11-06,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,97.40,125.65,118.61,21.776181
2124,2022-11-13,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,93.24,120.28,132.86,42.492492
2125,2022-11-20,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,94.38,121.75,87.94,-6.823480
2126,2022-11-27,S SAN FRANCISCO BUS CTR,DRUMSTICKS NNNN,88.66,114.37,82.54,-6.902775

In [190]:
conditions = [
    (df_sales1['stock_percentage'] <= 0),
    (df_sales1['stock_percentage'] > 0) & (df_sales1['stock_percentage'] <= 20),
    (df_sales1['stock_percentage'] > 20)]

In [191]:
values = ['Understock', 'Onhand', 'Overstock']
df_sales1["Stock"]=np.select(conditions, values)

C:\Users\Ramshankar\AppData\Local\Temp\ipykernel_9048\4065829269.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sales1["Stock"]=np.select(conditions, values)

In [192]:
def stock_flag(row):
    if row["Stock"]== 'Overstock':
        return 1
    elif row["Stock"]== 'Understock':
        return 2
    if row["Stock"]== 'Onhand':
        return 3

In [193]:
df_sales1["Stock_flag"] = df_sales1.apply(stock_flag,axis=1)

C:\Users\Ramshankar\AppData\Local\Temp\ipykernel_9048\940115296.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sales1["Stock_flag"] = df_sales1.apply(stock_flag,axis=1)

In [194]:
df_sales1[df_sales1['Stock']== 'Understock'].shape

(200, 9)

In [195]:
# Sales 
## OverStoke- 138
## UnderStoke-211
## Onhand-85

In [196]:
#Inventory
# Overstock-138
# Understock- 143
# Onhand-153

In [198]:
df_sales1.to_excel('Sales_6_months_anlys.xlsx', index= False)