In [1]:
import pandas as pd
import numpy as np

In [74]:
data = pd.read_excel("Inventory_updated2.xlsx")

In [75]:
data.sample(5)

,date,product_identifier,department_identifier,category_of_product,outlet,state,sales,week_id,sell_price,year_month,net Sales,Temperature
101729,2021-05-23,1508,22,fast_moving_consumer_goods,113,Maharashtra,0,121,5.94,2013-05,0.00,38
66501,2020-11-28,337,11,others,113,Maharashtra,3,96,6.98,2012-11,20.94,27
3708,2020-01-19,743,21,fast_moving_consumer_goods,113,Maharashtra,0,51,4.47,2012-01,0.00,21
71513,2020-12-23,972,21,fast_moving_consumer_goods,113,Maharashtra,2,100,3.47,2012-12,6.94,24
23283,2020-04-26,1629,31,drinks_and_food,112,Maharashtra,11,65,0.98,2012-04,10.78,36

In [76]:
data["date"].unique()

array(['2020-01-01T00:00:00.000000000', '2020-01-02T00:00:00.000000000',
       '2020-01-03T00:00:00.000000000', '2020-01-04T00:00:00.000000000',
       '2020-01-05T00:00:00.000000000', '2020-01-06T00:00:00.000000000',
       '2020-01-07T00:00:00.000000000', '2020-01-08T00:00:00.000000000',
       '2020-01-09T00:00:00.000000000', '2020-01-10T00:00:00.000000000',
       '2020-01-11T00:00:00.000000000', '2020-01-12T00:00:00.000000000',
       '2020-01-13T00:00:00.000000000', '2020-01-14T00:00:00.000000000',
       '2020-01-15T00:00:00.000000000', '2020-01-16T00:00:00.000000000',
       '2020-01-17T00:00:00.000000000', '2020-01-18T00:00:00.000000000',
       '2020-01-19T00:00:00.000000000', '2020-01-20T00:00:00.000000000',
       '2020-01-21T00:00:00.000000000', '2020-01-22T00:00:00.000000000',
       '2020-01-23T00:00:00.000000000', '2020-01-24T00:00:00.000000000',
       '2020-01-25T00:00:00.000000000', '2020-01-26T00:00:00.000000000',
       '2020-01-27T00:00:00.000000000', '2020-01-28T00:00:00.000000000',
       '2020-01-29T00:00:00.000000000', '2020-01-30T00:00:00.000000000',
       '2020-01-31T00:00:00.000000000', '2020-02-01T00:00:00.000000000',
       '2020-02-02T00:00:00.000000000', '2020-02-03T00:00:00.000000000',
       '2020-02-04T00:00:00.000000000', '2020-02-05T00:00:00.000000000',
       '2020-02-06T00:00:00.000000000', '2020-02-07T00:00:00.000000000',
       '2020-02-08T00:00:00.000000000', '2020-02-09T00:00:00.000000000',
       '2020-02-10T00:00:00.000000000', '2020-02-11T00:00:00.000000000',
       '2020-02-12T00:00:00.000000000', '2020-02-13T00:00:00.000000000',
       '2020-02-14T00:00:00.000000000', '2020-02-15T00:00:00.000000000',
       '2020-02-16T00:00:00.000000000', '2020-02-17T00:00:00.000000000',
       '2020-02-18T00:00:00.000000000', '2020-02-19T00:00:00.000000000',
       '2020-02-20T00:00:00.000000000', '2020-02-21T00:00:00.000000000',
       '2020-02-22T00:00:00.000000000', '2020-02-23T00:00:00.000000000',
       '2020-02-24T00:00:00.000000000', '2020-02-25T00:00:00.000000000',
       '2020-02-26T00:00:00.000000000', '2020-02-27T00:00:00.000000000',
       '2020-02-28T00:00:00.000000000', '2020-02-29T00:00:00.000000000',
       '2020-03-01T00:00:00.000000000', '2020-03-02T00:00:00.000000000',
       '2020-03-03T00:00:00.000000000', '2020-03-04T00:00:00.000000000',
       '2020-03-05T00:00:00.000000000', '2020-03-06T00:00:00.000000000',
       '2020-03-07T00:00:00.000000000', '2020-03-08T00:00:00.000000000',
       '2020-03-09T00:00:00.000000000', '2020-03-10T00:00:00.000000000',
       '2020-03-11T00:00:00.000000000', '2020-03-12T00:00:00.000000000',
       '2020-03-13T00:00:00.000000000', '2020-03-14T00:00:00.000000000',
       '2020-03-15T00:00:00.000000000', '2020-03-16T00:00:00.000000000',
       '2020-03-17T00:00:00.000000000', '2020-03-18T00:00:00.000000000',
       '2020-03-19T00:00:00.000000000', '2020-03-20T00:00:00.000000000',
       '2020-03-21T00:00:00.000000000', '2020-03-22T00:00:00.000000000',
       '2020-03-23T00:00:00.000000000', '2020-03-24T00:00:00.000000000',
       '2020-03-25T00:00:00.000000000', '2020-03-26T00:00:00.000000000',
       '2020-03-27T00:00:00.000000000', '2020-03-28T00:00:00.000000000',
       '2020-03-29T00:00:00.000000000', '2020-03-30T00:00:00.000000000',
       '2020-03-31T00:00:00.000000000', '2020-04-01T00:00:00.000000000',
       '2020-04-02T00:00:00.000000000', '2020-04-03T00:00:00.000000000',
       '2020-04-04T00:00:00.000000000', '2020-04-05T00:00:00.000000000',
       '2020-04-06T00:00:00.000000000', '2020-04-07T00:00:00.000000000',
       '2020-04-08T00:00:00.000000000', '2020-04-09T00:00:00.000000000',
       '2020-04-10T00:00:00.000000000', '2020-04-11T00:00:00.000000000',
       '2020-04-12T00:00:00.000000000', '2020-04-13T00:00:00.000000000',
       '2020-04-14T00:00:00.000000000', '2020-04-15T00:00:00.000000000',
       '2020-04-16T00:00:00.000000000', '2020-04-17T00:00:00.000000000',
       '2020-04-18T00:00:00.000000000', '2020-04-19T00:00:00.000000000',
       '2020-04-20T00:00:00.000000000', '2020-04-21T00:00:00.000000000',
       '2020-04-22T00:00:00.000000000', '2020-04-23T00:00:00.000000000',
       '2020-04-24T00:00:00.000000000', '2020-04-25T00:00:00.000000000',
       '2020-04-26T00:00:00.000000000', '2020-04-27T00:00:00.000000000',
       '2020-04-28T00:00:00.000000000', '2020-04-29T00:00:00.000000000',
       '2020-04-30T00:00:00.000000000', '2020-05-01T00:00:00.000000000',
       '2020-05-02T00:00:00.000000000', '2020-05-03T00:00:00.000000000',
       '2020-05-04T00:00:00.000000000', '2020-05-05T00:00:00.000000000',
       '2020-05-06T00:00:00.000000000', '2020-05-07T00:00:00.000000000',
       '2020-05-08T00:00:00.000000000', '2020-05-09T00:00:00.000000000',
       '2020-05-10T00:00:00.000000000', '2020-05-11T00:00:00.000000000',
       '2020-05-12T00:00:00.000000000', '2020-05-13T00:00:00.000000000',
       '2020-05-14T00:00:00.000000000', '2020-05-15T00:00:00.000000000',
       '2020-05-16T00:00:00.000000000', '2020-05-17T00:00:00.000000000',
       '2020-05-18T00:00:00.000000000', '2020-05-19T00:00:00.000000000',
       '2020-05-20T00:00:00.000000000', '2020-05-21T00:00:00.000000000',
       '2020-05-22T00:00:00.000000000', '2020-05-23T00:00:00.000000000',
       '2020-05-24T00:00:00.000000000', '2020-05-25T00:00:00.000000000',
       '2020-05-26T00:00:00.000000000', '2020-05-27T00:00:00.000000000',
       '2020-05-28T00:00:00.000000000', '2020-05-29T00:00:00.000000000',
       '2020-05-30T00:00:00.000000000', '2020-05-31T00:00:00.000000000',
       '2020-06-01T00:00:00.000000000', '2020-06-02T00:00:00.000000000',
       '2020-06-03T00:00:00.000000000', '2020-06-04T00:00:00.000000000',
       '2020-06-05T00:00:00.000000000', '2020-06-06T00:00:00.000000000',
       '2020-06-07T00:00:00.000000000', '2020-06-08T00:00:00.000000000',
       '2020-06-09T00:00:00.000000000', '2020-06-10T00:00:00.000000000',
       '2020-06-11T00:00:00.000000000', '2020-06-12T00:00:00.000000000',
       '2020-06-13T00:00:00.000000000', '2020-06-14T00:00:00.000000000',
       '2020-06-15T00:00:00.000000000', '2020-06-16T00:00:00.000000000',
       '2020-06-17T00:00:00.000000000', '2020-06-18T00:00:00.000000000',
       '2020-06-19T00:00:00.000000000', '2020-06-20T00:00:00.000000000',
       '2020-06-21T00:00:00.000000000', '2020-06-22T00:00:00.000000000',
       '2020-06-23T00:00:00.000000000', '2020-06-24T00:00:00.000000000',
       '2020-06-25T00:00:00.000000000', '2020-06-26T00:00:00.000000000',
       '2020-06-27T00:00:00.000000000', '2020-06-28T00:00:00.000000000',
       '2020-06-29T00:00:00.000000000', '2020-06-30T00:00:00.000000000',
       '2020-07-01T00:00:00.000000000', '2020-07-02T00:00:00.000000000',
       '2020-07-03T00:00:00.000000000', '2020-07-04T00:00:00.000000000',
       '2020-07-05T00:00:00.000000000', '2020-07-06T00:00:00.000000000',
       '2020-07-07T00:00:00.000000000', '2020-07-08T00:00:00.000000000',
       '2020-07-09T00:00:00.000000000', '2020-07-10T00:00:00.000000000',
       '2020-07-11T00:00:00.000000000', '2020-07-12T00:00:00.000000000',
       '2020-07-13T00:00:00.000000000', '2020-07-14T00:00:00.000000000',
       '2020-07-15T00:00:00.000000000', '2020-07-16T00:00:00.000000000',
       '2020-07-17T00:00:00.000000000', '2020-07-18T00:00:00.000000000',
       '2020-07-19T00:00:00.000000000', '2020-07-20T00:00:00.000000000',
       '2020-07-21T00:00:00.000000000', '2020-07-22T00:00:00.000000000',
       '2020-07-23T00:00:00.000000000', '2020-07-24T00:00:00.000000000',
       '2020-07-25T00:00:00.000000000', '2020-07-26T00:00:00.000000000',
       '2020-07-27T00:00:00.000000000', '2020-07-28T00:00:00.000000000',
       '2020-07-29T00:00:00.000000000', '2020-07-30T00:00:00.000000000',
       '2020-07-31T00:00:00.000000000', '2020-08-01T00:00:00.000000000',
       '2020-08-02T00:00:00.000000000', '2020-08-03T00:00:00.000000000',
       '2020-08-04T00:00:00.000000000', '2020-08-05T00:00:00.000000000',
       '2020-08-06T00:00:00.000000000', '2020-08-07T00:00:00.000000000',
       '2020-08-08T00:00:00.000000000', '2020-08-09T00:00:00.000000000',
       '2020-08-10T00:00:00.000000000', '2020-08-11T00:00:00.000000000',
       '2020-08-12T00:00:00.000000000', '2020-08-13T00:00:00.000000000',
       '2020-08-14T00:00:00.000000000', '2020-08-15T00:00:00.000000000',
       '2020-08-16T00:00:00.000000000', '2020-08-17T00:00:00.000000000',
       '2020-08-18T00:00:00.000000000', '2020-08-19T00:00:00.000000000',
       '2020-08-20T00:00:00.000000000', '2020-08-21T00:00:00.000000000',
       '2020-08-22T00:00:00.000000000', '2020-08-23T00:00:00.000000000',
       '2020-08-24T00:00:00.000000000', '2020-08-25T00:00:00.000000000',
       '2020-08-26T00:00:00.000000000', '2020-08-27T00:00:00.000000000',
       '2020-08-28T00:00:00.000000000', '2020-08-29T00:00:00.000000000',
       '2020-08-30T00:00:00.000000000', '2020-08-31T00:00:00.000000000',
       '2020-09-01T00:00:00.000000000', '2020-09-02T00:00:00.000000000',
       '2020-09-03T00:00:00.000000000', '2020-09-04T00:00:00.000000000',
       '2020-09-05T00:00:00.000000000', '2020-09-06T00:00:00.000000000',
       '2020-09-07T00:00:00.000000000', '2020-09-08T00:00:00.000000000',
       '2020-09-09T00:00:00.000000000', '2020-09-10T00:00:00.000000000',
       '2020-09-11T00:00:00.000000000', '2020-09-12T00:00:00.000000000',
       '2020-09-13T00:00:00.000000000', '2020-09-14T00:00:00.000000000',
       '2020-09-15T00:00:00.000000000', '2020-09-16T00:00:00.000000000',
       '2020-09-17T00:00:00.000000000', '2020-09-18T00:00:00.000000000',
       '2020-09-19T00:00:00.000000000', '2020-09-20T00:00:00.000000000',
       '2020-09-21T00:00:00.000000000', '2020-09-22T00:00:00.000000000',
       '2020-09-23T00:00:00.000000000', '2020-09-24T00:00:00.000000000',
       '2020-09-25T00:00:00.000000000', '2020-09-26T00:00:00.000000000',
       '2020-09-27T00:00:00.000000000', '2020-09-28T00:00:00.000000000',
       '2020-09-29T00:00:00.000000000', '2020-09-30T00:00:00.000000000',
       '2020-10-01T00:00:00.000000000', '2020-10-02T00:00:00.000000000',
       '2020-10-03T00:00:00.000000000', '2020-10-04T00:00:00.000000000',
       '2020-10-05T00:00:00.000000000', '2020-10-06T00:00:00.000000000',
       '2020-10-07T00:00:00.000000000', '2020-10-08T00:00:00.000000000',
       '2020-10-09T00:00:00.000000000', '2020-10-10T00:00:00.000000000',
       '2020-10-11T00:00:00.000000000', '2020-10-12T00:00:00.000000000',
       '2020-10-13T00:00:00.000000000', '2020-10-14T00:00:00.000000000',
       '2020-10-15T00:00:00.000000000', '2020-10-16T00:00:00.000000000',
       '2020-10-17T00:00:00.000000000', '2020-10-18T00:00:00.000000000',
       '2020-10-19T00:00:00.000000000', '2020-10-20T00:00:00.000000000',
       '2020-10-21T00:00:00.000000000', '2020-10-22T00:00:00.000000000',
       '2020-10-23T00:00:00.000000000', '2020-10-24T00:00:00.000000000',
       '2020-10-25T00:00:00.000000000', '2020-10-26T00:00:00.000000000',
       '2020-10-27T00:00:00.000000000', '2020-10-28T00:00:00.000000000',
       '2020-10-29T00:00:00.000000000', '2020-10-30T00:00:00.000000000',
       '2020-10-31T00:00:00.000000000', '2020-11-01T00:00:00.000000000',
       '2020-11-02T00:00:00.000000000', '2020-11-03T00:00:00.000000000',
       '2020-11-04T00:00:00.000000000', '2020-11-05T00:00:00.000000000',
       '2020-11-06T00:00:00.000000000', '2020-11-07T00:00:00.000000000',
       '2020-11-08T00:00:00.000000000', '2020-11-09T00:00:00.000000000',
       '2020-11-10T00:00:00.000000000', '2020-11-11T00:00:00.000000000',
       '2020-11-12T00:00:00.000000000', '2020-11-13T00:00:00.000000000',
       '2020-11-14T00:00:00.000000000', '2020-11-15T00:00:00.000000000',
       '2020-11-16T00:00:00.000000000', '2020-11-17T00:00:00.000000000',
       '2020-11-18T00:00:00.000000000', '2020-11-19T00:00:00.000000000',
       '2020-11-20T00:00:00.000000000', '2020-11-21T00:00:00.000000000',
       '2020-11-22T00:00:00.000000000', '2020-11-23T00:00:00.000000000',
       '2020-11-24T00:00:00.000000000', '2020-11-25T00:00:00.000000000',
       '2020-11-26T00:00:00.000000000', '2020-11-27T00:00:00.000000000',
       '2020-11-28T00:00:00.000000000', '2020-11-29T00:00:00.000000000',
       '2020-11-30T00:00:00.000000000', '2020-12-01T00:00:00.000000000',
       '2020-12-02T00:00:00.000000000', '2020-12-03T00:00:00.000000000',
       '2020-12-04T00:00:00.000000000', '2020-12-05T00:00:00.000000000',
       '2020-12-06T00:00:00.000000000', '2020-12-07T00:00:00.000000000',
       '2020-12-08T00:00:00.000000000', '2020-12-09T00:00:00.000000000',
       '2020-12-10T00:00:00.000000000', '2020-12-11T00:00:00.000000000',
       '2020-12-12T00:00:00.000000000', '2020-12-13T00:00:00.000000000',
       '2020-12-14T00:00:00.000000000', '2020-12-15T00:00:00.000000000',
       '2020-12-16T00:00:00.000000000', '2020-12-17T00:00:00.000000000',
       '2020-12-18T00:00:00.000000000', '2020-12-19T00:00:00.000000000',
       '2020-12-20T00:00:00.000000000', '2020-12-21T00:00:00.000000000',
       '2020-12-22T00:00:00.000000000', '2020-12-23T00:00:00.000000000',
       '2020-12-24T00:00:00.000000000', '2020-12-25T00:00:00.000000000',
       '2020-12-26T00:00:00.000000000', '2020-12-27T00:00:00.000000000',
       '2020-12-28T00:00:00.000000000', '2020-12-29T00:00:00.000000000',
       '2020-12-30T00:00:00.000000000', '2020-12-31T00:00:00.000000000',
       '2021-01-01T00:00:00.000000000', '2021-01-02T00:00:00.000000000',
       '2021-01-03T00:00:00.000000000', '2021-01-04T00:00:00.000000000',
       '2021-01-05T00:00:00.000000000', '2021-01-06T00:00:00.000000000',
       '2021-01-07T00:00:00.000000000', '2021-01-08T00:00:00.000000000',
       '2021-01-09T00:00:00.000000000', '2021-01-10T00:00:00.000000000',
       '2021-01-11T00:00:00.000000000', '2021-01-12T00:00:00.000000000',
       '2021-01-13T00:00:00.000000000', '2021-01-14T00:00:00.000000000',
       '2021-01-15T00:00:00.000000000', '2021-01-16T00:00:00.000000000',
       '2021-01-17T00:00:00.000000000', '2021-01-18T00:00:00.000000000',
       '2021-01-19T00:00:00.000000000', '2021-01-20T00:00:00.000000000',
       '2021-01-21T00:00:00.000000000', '2021-01-22T00:00:00.000000000',
       '2021-01-23T00:00:00.000000000', '2021-01-24T00:00:00.000000000',
       '2021-01-25T00:00:00.000000000', '2021-01-26T00:00:00.000000000',
       '2021-01-27T00:00:00.000000000', '2021-01-28T00:00:00.000000000',
       '2021-01-29T00:00:00.000000000', '2021-01-30T00:00:00.000000000',
       '2021-01-31T00:00:00.000000000', '2021-02-01T00:00:00.000000000',
       '2021-02-02T00:00:00.000000000', '2021-02-03T00:00:00.000000000',
       '2021-02-04T00:00:00.000000000', '2021-02-05T00:00:00.000000000',
       '2021-02-06T00:00:00.000000000', '2021-02-07T00:00:00.000000000',
       '2021-02-08T00:00:00.000000000', '2021-02-09T00:00:00.000000000',
       '2021-02-10T00:00:00.000000000', '2021-02-11T00:00:00.000000000',
       '2021-02-12T00:00:00.000000000', '2021-02-13T00:00:00.000000000',
       '2021-02-14T00:00:00.000000000', '2021-02-15T00:00:00.000000000',
       '2021-02-16T00:00:00.000000000', '2021-02-17T00:00:00.000000000',
       '2021-02-18T00:00:00.000000000', '2021-02-19T00:00:00.000000000',
       '2021-02-20T00:00:00.000000000', '2021-02-21T00:00:00.000000000',
       '2021-02-22T00:00:00.000000000', '2021-02-23T00:00:00.000000000',
       '2021-02-24T00:00:00.000000000', '2021-02-25T00:00:00.000000000',
       '2021-02-26T00:00:00.000000000', '2021-02-27T00:00:00.000000000',
       '2021-02-28T00:00:00.000000000', '2021-03-01T00:00:00.000000000',
       '2021-03-02T00:00:00.000000000', '2021-03-03T00:00:00.000000000',
       '2021-03-04T00:00:00.000000000', '2021-03-05T00:00:00.000000000',
       '2021-03-06T00:00:00.000000000', '2021-03-07T00:00:00.000000000',
       '2021-03-08T00:00:00.000000000', '2021-03-09T00:00:00.000000000',
       '2021-03-10T00:00:00.000000000', '2021-03-11T00:00:00.000000000',
       '2021-03-12T00:00:00.000000000', '2021-03-13T00:00:00.000000000',
       '2021-03-14T00:00:00.000000000', '2021-03-15T00:00:00.000000000',
       '2021-03-16T00:00:00.000000000', '2021-03-17T00:00:00.000000000',
       '2021-03-18T00:00:00.000000000', '2021-03-19T00:00:00.000000000',
       '2021-03-20T00:00:00.000000000', '2021-03-21T00:00:00.000000000',
       '2021-03-22T00:00:00.000000000', '2021-03-23T00:00:00.000000000',
       '2021-03-24T00:00:00.000000000', '2021-03-25T00:00:00.000000000',
       '2021-03-26T00:00:00.000000000', '2021-03-27T00:00:00.000000000',
       '2021-03-28T00:00:00.000000000', '2021-03-29T00:00:00.000000000',
       '2021-03-30T00:00:00.000000000', '2021-03-31T00:00:00.000000000',
       '2021-04-01T00:00:00.000000000', '2021-04-02T00:00:00.000000000',
       '2021-04-03T00:00:00.000000000', '2021-04-04T00:00:00.000000000',
       '2021-04-05T00:00:00.000000000', '2021-04-06T00:00:00.000000000',
       '2021-04-07T00:00:00.000000000', '2021-04-08T00:00:00.000000000',
       '2021-04-09T00:00:00.000000000', '2021-04-10T00:00:00.000000000',
       '2021-04-11T00:00:00.000000000', '2021-04-12T00:00:00.000000000',
       '2021-04-13T00:00:00.000000000', '2021-04-14T00:00:00.000000000',
       '2021-04-15T00:00:00.000000000', '2021-04-16T00:00:00.000000000',
       '2021-04-17T00:00:00.000000000', '2021-04-18T00:00:00.000000000',
       '2021-04-19T00:00:00.000000000', '2021-04-20T00:00:00.000000000',
       '2021-04-21T00:00:00.000000000', '2021-04-22T00:00:00.000000000',
       '2021-04-23T00:00:00.000000000', '2021-04-24T00:00:00.000000000',
       '2021-04-25T00:00:00.000000000', '2021-04-26T00:00:00.000000000',
       '2021-04-27T00:00:00.000000000', '2021-04-28T00:00:00.000000000',
       '2021-04-29T00:00:00.000000000', '2021-04-30T00:00:00.000000000',
       '2021-05-01T00:00:00.000000000', '2021-05-02T00:00:00.000000000',
       '2021-05-03T00:00:00.000000000', '2021-05-04T00:00:00.000000000',
       '2021-05-05T00:00:00.000000000', '2021-05-06T00:00:00.000000000',
       '2021-05-07T00:00:00.000000000', '2021-05-08T00:00:00.000000000',
       '2021-05-09T00:00:00.000000000', '2021-05-10T00:00:00.000000000',
       '2021-05-11T00:00:00.000000000', '2021-05-12T00:00:00.000000000',
       '2021-05-13T00:00:00.000000000', '2021-05-14T00:00:00.000000000',
       '2021-05-15T00:00:00.000000000', '2021-05-16T00:00:00.000000000',
       '2021-05-17T00:00:00.000000000', '2021-05-18T00:00:00.000000000',
       '2021-05-19T00:00:00.000000000', '2021-05-20T00:00:00.000000000',
       '2021-05-21T00:00:00.000000000', '2021-05-22T00:00:00.000000000',
       '2021-05-23T00:00:00.000000000', '2021-05-24T00:00:00.000000000',
       '2021-05-25T00:00:00.000000000', '2021-05-26T00:00:00.000000000',
       '2021-05-27T00:00:00.000000000', '2021-05-28T00:00:00.000000000',
       '2021-05-29T00:00:00.000000000', '2021-05-30T00:00:00.000000000',
       '2021-05-31T00:00:00.000000000', '2021-06-01T00:00:00.000000000',
       '2021-06-02T00:00:00.000000000', '2021-06-03T00:00:00.000000000',
       '2021-06-04T00:00:00.000000000', '2021-06-05T00:00:00.000000000',
       '2021-06-06T00:00:00.000000000', '2021-06-07T00:00:00.000000000',
       '2021-06-08T00:00:00.000000000', '2021-06-09T00:00:00.000000000',
       '2021-06-10T00:00:00.000000000', '2021-06-11T00:00:00.000000000',
       '2021-06-12T00:00:00.000000000', '2021-06-13T00:00:00.000000000',
       '2021-06-14T00:00:00.000000000', '2021-06-15T00:00:00.000000000',
       '2021-06-16T00:00:00.000000000', '2021-06-17T00:00:00.000000000',
       '2021-06-18T00:00:00.000000000', '2021-06-19T00:00:00.000000000',
       '2021-06-20T00:00:00.000000000', '2021-06-21T00:00:00.000000000',
       '2021-06-22T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-24T00:00:00.000000000', '2021-06-25T00:00:00.000000000',
       '2021-06-26T00:00:00.000000000', '2021-06-27T00:00:00.000000000',
       '2021-06-28T00:00:00.000000000', '2021-06-29T00:00:00.000000000',

In [77]:
holiday = pd.read_excel("Holiday_List_updated.xlsx")

In [78]:
holiday

         Date                  Holiday  Count
0  2020-01-26             Republic Day      1
1  2020-02-05               id-E-Milad      1
2  2020-02-19  Shivaji Maharaj Jayanti      1
3  2020-02-20            Mahashivratri      1
4  2020-03-08                     Holi      1
5  2020-03-23               Gudi Padwa      1
6  2020-04-01                Ram Navmi      1
7  2020-04-05          Mahavir Jayanti      1
8  2020-04-06              Good Friday      1
9  2020-04-14     Dr Babasaheb Jayanti      1
10 2020-05-01          Maharashtra Day      1
11 2020-05-06          Buddha pourmina      1
12 2020-08-15         Independence Day      1
13 2020-08-18           Parsi New Year      1
14 2020-08-20                Ramzan id      1
15 2020-09-29         Ganesh Chaturthi      1
16 2020-10-02   Mahatma Gandhi Jayanti      1
17 2020-10-24                   Dasara      1
18 2020-10-26                 Bakri id      1
19 2020-11-13              Laxmi Pujan      1
20 2020-11-14                   Diwali      1
21 2020-11-25                  Moharum      1
22 2020-11-28       Guru Nanak Jayanti      1
23 2020-12-25                Christmas      1
24 2021-01-25               id-E-Milad      1
25 2021-01-26             Republic Day      1
26 2021-02-19  Shivaji Maharaj Jayanti      1
27 2021-03-10            Mahashivratri      1
28 2021-03-27                     Holi      1
29 2021-03-29              Good Friday      1
30 2021-04-11               Gudi Padwa      1
31 2021-04-14     Dr Babasaheb Jayanti      1
32 2021-04-19                Ram Navmi      1
33 2021-04-24          Mahavir Jayanti      1
34 2021-05-01          Maharashtra Day      1
35 2021-05-25          Buddha pourmina      1
36 2021-08-09                Ramzan id      1
37 2021-08-15         Independence Day      1
38 2021-08-18           Parsi New Year      1
39 2021-09-09         Ganesh Chaturthi      1
40 2021-10-02   Mahatma Gandhi Jayanti      1
41 2021-10-13                   Dasara      1
42 2021-10-16                 Bakri id      1
43 2021-11-03              Laxmi Pujan      1
44 2021-11-04                   Diwali      1
45 2021-11-14                  Moharum      1
46 2021-11-17       Guru Nanak Jayanti      1
47 2021-12-25                Christmas      1
48 2022-01-14               id-E-Milad      1
49 2022-01-26             Republic Day      1
50 2022-02-19  Shivaji Maharaj Jayanti      1
51 2022-02-27            Mahashivratri      1

In [79]:
holiday["Date"].dtype

dtype('<M8[ns]')

In [80]:
holiday["Date"][1]

Timestamp('2020-02-05 00:00:00')

In [81]:
data[data["date"]=="2020-02-05 00:00:00"]

,date,product_identifier,department_identifier,category_of_product,outlet,state,sales,week_id,sell_price,year_month,net Sales,Temperature
7000,2020-02-05,74,11,others,111,Maharashtra,0,54,2.94,2012-02,0.00,27
7001,2020-02-05,337,11,others,111,Maharashtra,2,54,7.44,2012-02,14.88,27
7002,2020-02-05,423,12,others,111,Maharashtra,0,54,0.97,2012-02,0.00,27
7003,2020-02-05,432,12,others,111,Maharashtra,0,54,4.97,2012-02,0.00,27
7004,2020-02-05,581,21,fast_moving_consumer_goods,111,Maharashtra,5,54,4.88,2012-02,24.40,27
...,...,...,...,...,...,...,...,...,...,...,...,...
7195,2020-02-05,2932,33,drinks_and_food,114,Maharashtra,2,54,2.98,2012-02,5.96,27
7196,2020-02-05,2935,33,drinks_and_food,114,Maharashtra,2,54,0.20,2012-02,0.40,27
7197,2020-02-05,3004,33,drinks_and_food,114,Maharashtra,5,54,2.48,2012-02,12.40,27
7198,2020-02-05,3008,33,drinks_and_food,114,Maharashtra,0,54,1.98,2012-02,0.00,27
7199,2020-02-05,3021,33,drinks_and_food,114,Maharashtra,0,54,2.08,2012-02,0.00,27

In [82]:
data.iloc[7000]["date"] == holiday["Date"][1]

True

In [83]:
def is_holiday(row):
    if row["date"] in holiday["Date"].to_list():
        return 1
    else:
        return 0

In [84]:
data["Holiday"] = data.apply(is_holiday,axis=1)

In [85]:
data.sample(10)

,date,product_identifier,department_identifier,category_of_product,outlet,state,sales,week_id,sell_price,year_month,net Sales,Temperature,Holiday
75267,2021-01-11,1173,22,fast_moving_consumer_goods,112,Maharashtra,0,102,8.97,2013-01,0.00,25,0
62594,2020-11-08,2853,33,drinks_and_food,114,Maharashtra,1,93,3.98,2012-11,3.98,26,0
100487,2021-05-17,1753,31,drinks_and_food,112,Maharashtra,1,120,1.97,2013-05,1.97,38,0
1339,2020-01-07,2332,33,drinks_and_food,113,Maharashtra,9,50,2.48,2012-01,22.32,23,0
96810,2021-04-29,868,21,fast_moving_consumer_goods,111,Maharashtra,0,118,6.97,2013-04,0.00,39,0
109928,2021-07-03,1472,22,fast_moving_consumer_goods,113,Maharashtra,1,127,3.82,2013-07,3.82,26,0
15924,2020-03-20,1322,22,fast_moving_consumer_goods,113,Maharashtra,2,60,6.97,2012-03,13.94,34,0
106963,2021-06-18,972,21,fast_moving_consumer_goods,114,Maharashtra,0,125,3.47,2013-06,0.00,29,0
8602,2020-02-13,423,12,others,111,Maharashtra,0,55,0.97,2012-02,0.00,28,0
151019,2022-01-25,1196,22,fast_moving_consumer_goods,111,Maharashtra,0,157,5.94,2014-01,0.00,25,0

In [86]:
data.iloc[5105]["date"]

Timestamp('2020-01-26 00:00:00')

In [87]:
holiday[holiday["Date"]=="2021-12-25 00:00:00"]

         Date    Holiday  Count
47 2021-12-25  Christmas      1

In [90]:
#data.to_excel("Inventory_updated3.xlsx")

In [91]:
data[data["Holiday"]==1]

,date,product_identifier,department_identifier,category_of_product,outlet,state,sales,week_id,sell_price,year_month,net Sales,Temperature,Holiday
5000,2020-01-26,74,11,others,111,Maharashtra,1,52,2.94,2012-01,2.94,25,1
5001,2020-01-26,337,11,others,111,Maharashtra,1,52,7.44,2012-01,7.44,25,1
5002,2020-01-26,423,12,others,111,Maharashtra,0,52,0.97,2012-01,0.00,25,1
5003,2020-01-26,432,12,others,111,Maharashtra,0,52,4.97,2012-01,0.00,25,1
5004,2020-01-26,581,21,fast_moving_consumer_goods,111,Maharashtra,5,52,4.88,2012-01,24.40,25,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
157795,2022-02-27,2932,33,drinks_and_food,114,Maharashtra,5,161,2.78,2014-02,13.90,29,1
157796,2022-02-27,2935,33,drinks_and_food,114,Maharashtra,2,161,0.20,2014-02,0.40,29,1
157797,2022-02-27,3004,33,drinks_and_food,114,Maharashtra,0,161,2.50,2014-02,0.00,29,1
157798,2022-02-27,3008,33,drinks_and_food,114,Maharashtra,0,161,1.98,2014-02,0.00,29,1
157799,2022-02-27,3021,33,drinks_and_food,114,Maharashtra,0,161,2.08,2014-02,0.00,29,1