In [1]:
import pandas as pd
import numpy as np

### Raw Data

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/tredenceofficial/OSA-Data/main/osa_raw_data.csv")
data.head()

,date,store_id,sku,product_category,total_sales_units,on_hand_inventory_units,replenishment_units,inventory_pipeline,units_in_transit,units_in_dc,units_on_order,units_under_promotion,shelf_capacity
0,20190102,63,57,Category 04,0,8,0,16,0,0,8,0,32
1,20190104,63,57,Category 04,0,7,0,14,0,8,0,0,32
2,20190105,63,57,Category 04,3,5,8,12,8,0,0,0,32
3,20190106,63,57,Category 04,2,11,0,11,0,0,0,0,32
4,20190109,63,57,Category 04,3,7,0,14,0,0,8,0,32

In [3]:
data.shape

(40590, 13)

In [4]:
import copy

raw_dt= copy.deepcopy(data)

In [5]:
raw_dt

,date,store_id,sku,product_category,total_sales_units,on_hand_inventory_units,replenishment_units,inventory_pipeline,units_in_transit,units_in_dc,units_on_order,units_under_promotion,shelf_capacity
0,20190102,63,57,Category 04,0,8,0,16,0,0,8,0,32
1,20190104,63,57,Category 04,0,7,0,14,0,8,0,0,32
2,20190105,63,57,Category 04,3,5,8,12,8,0,0,0,32
3,20190106,63,57,Category 04,2,11,0,11,0,0,0,0,32
4,20190109,63,57,Category 04,3,7,0,14,0,0,8,0,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40585,20210427,1937,153,Category 02,0,5,0,5,0,0,0,0,48
40586,20210428,1937,153,Category 02,0,5,0,5,0,0,0,0,48
40587,20210429,1937,153,Category 02,0,5,0,5,0,0,0,0,48
40588,20210430,1937,153,Category 02,0,5,0,5,0,0,0,0,0
40589,20210503,1937,153,Category 02,0,0,0,0,0,0,0,0,48

In [6]:
raw_dt['date'].dtypes

dtype('int64')

In [7]:
raw_dt['date'] = pd.to_datetime(raw_dt['date'], format= '%Y%m%d')

In [8]:
raw_dt['date']

0       2019-01-02
1       2019-01-04
2       2019-01-05
3       2019-01-06
4       2019-01-09
           ...
40585   2021-04-27
40586   2021-04-28
40587   2021-04-29
40588   2021-04-30
40589   2021-05-03
Name: date, Length: 40590, dtype: datetime64[ns]

In [9]:
# raw_dt.to_csv('Dataset/raw_data.csv', index= False)

In [10]:
raw_dt['store_id'].nunique()

96

In [11]:
raw_dt['sku'].nunique()

22

In [12]:
raw_dt['product_category'].nunique()

8

In [16]:
columns= ['store_id', 'sku', 'product_category']

for col in columns:
    print(col, ":- ", raw_dt[col].nunique())

store_id :-  96
sku :-  22
product_category :-  8

In [19]:
raw_dt.columns

Index(['date', 'store_id', 'sku', 'product_category', 'total_sales_units',
       'on_hand_inventory_units', 'replenishment_units', 'inventory_pipeline',
       'units_in_transit', 'units_in_dc', 'units_on_order',
       'units_under_promotion', 'shelf_capacity'],
      dtype='object')

In [29]:
raw_dt.shape

(40590, 13)

### Vendor data

In [20]:
data_vendr = pd.read_csv("https://raw.githubusercontent.com/tredenceofficial/OSA-Data/main/vendor_leadtime_info.csv")
data_vendr.head()

,key,vendor_id,sub_vendor_id,store_id,item_id,LEAD_TIME_IN_DC,LEAD_TIME_IN_TRANSIT,LEAD_TIME_ON_ORDER
0,1,1,1001,1763,1,4,3,7
1,2,1,1001,1763,2,2,1,7
2,3,1,1002,1843,2,2,1,7
3,4,1,1001,1763,3,4,3,7
4,5,2,2016,486,6,2,1,8

In [21]:
import copy

vendor_dt= copy.deepcopy(data_vendr)

In [22]:
vendor_dt.shape

(100, 8)

In [23]:
# vendor_dt.to_csv('Dataset/Vendor_data.csv', index= False)

In [24]:
data_vendr['key'].nunique()    ## Key is just index

100

In [25]:
data_vendr['vendor_id'].nunique()

15

In [26]:
data_vendr['sub_vendor_id'].nunique()

98

In [27]:
data_vendr['store_id'].nunique()

96

In [28]:
data_vendr['item_id'].nunique()

22

In [33]:
data_vendr.columns

Index(['key', 'vendor_id', 'sub_vendor_id', 'store_id', 'item_id',
       'LEAD_TIME_IN_DC', 'LEAD_TIME_IN_TRANSIT', 'LEAD_TIME_ON_ORDER'],
      dtype='object')

In [31]:
columns= ['key', 'vendor_id', 'sub_vendor_id', 'store_id', 'item_id']

for col in columns:
    print(col, ": ", vendor_dt[col].nunique())

key :  100
vendor_id :  15
sub_vendor_id :  98
store_id :  96
item_id :  22

### Address Missing Records

In [23]:
start_date = raw_dt['date'].min()
end_date = raw_dt['date'].max()

In [23]:
raw_dt

,date,store_id,sku,product_category,total_sales_units,on_hand_inventory_units,replenishment_units,inventory_pipeline,units_in_transit,units_in_dc,units_on_order,units_under_promotion,shelf_capacity
0,2019-01-02,63,57,Category 04,0,8,0,16,0,0,8,0,32
1,2019-01-04,63,57,Category 04,0,7,0,14,0,8,0,0,32
2,2019-01-05,63,57,Category 04,3,5,8,12,8,0,0,0,32
3,2019-01-06,63,57,Category 04,2,11,0,11,0,0,0,0,32
4,2019-01-09,63,57,Category 04,3,7,0,14,0,0,8,0,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40585,2021-04-27,1937,153,Category 02,0,5,0,5,0,0,0,0,48
40586,2021-04-28,1937,153,Category 02,0,5,0,5,0,0,0,0,48
40587,2021-04-29,1937,153,Category 02,0,5,0,5,0,0,0,0,48
40588,2021-04-30,1937,153,Category 02,0,5,0,5,0,0,0,0,0
40589,2021-05-03,1937,153,Category 02,0,0,0,0,0,0,0,0,48

In [24]:
start_date = raw_dt.iloc[0]['start_date']
end_date = raw_dt.iloc[0]['end_date']

KeyError: 'start_date'